<div class="card">
    <div class="card-header card-header-success card-header-text">
        <div class="card-text">
            <h4 class="card-title">Tugas Akhir</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
            <form [formGroup]="formGroup" #formNgForm="ngForm" class="w-full">
                <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Judul</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                        <mat-form-field class="w-full">
                            <input matInput type="text" placeholder="Judul" formControlName="judul"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Pembimbing</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                        <mat-form-field class="w-full">
                            <input matInput type="text" placeholder="Pembimbing" formControlName="pembimbing"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Keterangan</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                        <mat-form-field class="w-full">
                            <input matInput type="text" placeholder="Keterangan" formControlName="keterangan"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Lulus</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                        <mat-slide-toggle formControlName="lulus">Lulus</mat-slide-toggle>
                    </div>
                </div>
                <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Tanggal Ujian</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                        <mat-form-field class="w-full">
                            <input matInput type="text" placeholder="Tanggal Ujian" formControlName="tanggal_ujian"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Penguji</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                        <mat-form-field class="w-full">
                            <input matInput type="text" placeholder="Penguji" formControlName="penguji"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nilai</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                        <mat-form-field class="w-full">
                            <input matInput type="text" placeholder="Nilai" formControlName="nilai"/>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>