<!-- <div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success card-header-text">
                <div class="card-text">
                    <h4 class="card-title">Tindakan Perbaikan</h4>
                </div>
            </div>
            <div class="card-body">
              <form [formGroup]="formGroup" #formNgForm="ngForm" class="w-full">
                <div class="row">
        
                  <div class="col-md-6">
                    <div class="table-row w-full mt-4">
                      <label class="table-cell w-1/5 mb-2 text-sm font-base text-black text-left">No. NCR<span
                          style="color:red">*</span></label>
                      <div class="table-cell px-3 text-sm font-bold text-black">
                        :
                      </div>
                      <div class="table-cell w-5/6 pb-3">
                        <mat-form-field class="w-full font-normal">
                          <input matInput type="text" formControlName="nama_daftar_periksa"
                            style="color: rgb(37, 37, 37);font-weight: bold;" />
                        </mat-form-field>
                      </div>
                    </div>
                    
                      <div class="table-row w-full mt-4">
                        <label class="table-cell w-1/5 mb-2 text-sm font-base text-black text-left">Ref Prosedur<span
                            style="color:red">*</span></label>
                        <div class="table-cell px-3 text-sm font-bold text-black">
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full font-normal">
                            <input matInput type="text" formControlName="nama_daftar_periksa"
                              style="color: rgb(37, 37, 37);font-weight: bold;" />
                          </mat-form-field>
                        </div>
                      </div>

                        <div class="table-row w-full mt-4">
                          <label class="table-cell w-1/5 mb-2 text-sm font-base text-black text-left">Tanggal Perbaikan<span
                              style="color:red">*</span></label>
                          <div class="table-cell px-3 text-sm font-bold text-black">
                            :
                          </div>
                          <div class="table-cell w-5/6 pb-3">
                            <mat-form-field class="w-full font-normal">
                              <input matInput type="text" formControlName="nama_daftar_periksa"
                                style="color: rgb(37, 37, 37);font-weight: bold;" />
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="table-row w-full mt-4">
                          <label class="table-cell w-1/5 mb-2 text-sm font-base text-black text-left">Penanggung Jawab<span
                              style="color:red">*</span></label>
                          <div class="table-cell px-3 text-sm font-bold text-black">
                            :
                          </div>
                          <div class="table-cell w-5/6 pb-3">
                            <mat-form-field class="w-full font-normal">
                              <input matInput type="text" formControlName="nama_daftar_periksa"
                                style="color: rgb(37, 37, 37);font-weight: bold;" />
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="table-row w-full mt-4">
                          <label class="table-cell w-1/5 mb-2 text-sm font-base text-black text-left">File Lampiran<span
                              style="color:red">*</span></label>
                          <div class="table-cell px-3 text-sm font-bold text-black">
                            :
                          </div>
                          <div class="table-cell w-5/6 pb-3">
                            <mat-form-field class="w-full font-normal">
                              <input matInput type="text" formControlName="deskripsi"
                                style="color: rgb(37, 37, 37);font-weight: bold;" />
                            </mat-form-field>
                          </div>
                        </div>

                </div>
                
              </div>
              <span><b>( <span style="color: red">*</span>Isian Wajib )</b></span>
              <div class="row">
                <div class="flex justify-center w-full">
                  <div class="btn-action mx-28">
                    <button class="btn btn-danger" mat-button mat-dialog-close>Batal</button>
                  </div>
        
                </div>
              </div>
              </form>  
            </div>
          </div>
      </div>
    </div>
  </div>
</div> -->