<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-yarsi card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Hari Libur Nasional</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-calendar">
                  <div class="card-body ">
                    <div id="fullCalendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>