<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Verifikasi Peserta</h4>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #formNgForm="ngForm" class="w-full">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="title mb-2">
                    <h3 class="font-medium text-lg">Informasi Peserta</h3>
                  </div>
                  <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">No. PMB / No. Test</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field class="w-full">
                        <input matInput type="text" placeholder="No. PMB / No. Test" formControlName="formulir_id" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="table-row w-full mt-4">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nama</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field class="w-full">
                        <input matInput type="text" placeholder="Nama" formControlName="nama" />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="table-row w-full mt-4" *ngFor="let prodi of listDataPilihanProdi;let i = index">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Pilihan {{ i + 1 }}</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field class="w-full">
                        <input matInput type="text" [placeholder]="'Pilih Pilihan'+(i + 1)" [(ngModel)]="prodi.value"
                          [ngModelOptions]="{standalone: true}" [disabled]="prodi.disabled" />
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- <div class="table-row w-full mt-4" formArrayName="prodi_pilihan"
                    *ngFor="let prodi of prodi_pilihan.controls;let i = index" [formGroupName]="i">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Pilihan {{ i + 1 }}</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field class="w-full">
                          <input matInput type="text" [placeholder]="'Pilih Pilihan'+(i + 1)" formControlName="prodi"/>
                      </mat-form-field>
                    </div>
                  </div> -->

                  <!-- DOKUMEN PERSYARATAN -->

                  <div class="title mb-2">
                    <h3 class="font-medium text-lg">Dokumen Persyaratan</h3>
                  </div>
                  <div class="flex flex-row mt-2" *ngFor="let persyaratan of listDataPersyaratan;let i = index">
                    <div class="table-row w-full">
                      <label class="table-cell w-1/6 mb-2 text-sm font-base">{{persyaratan.persyaratan}}
                        <span *ngIf="persyaratan.required == 'Y'" style="color: red;">
                          *
                        </span>
                      </label>
                      <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                      <div class="table-cell w-1/6">
                        <a *ngIf="persyaratan.path_dokumen != '' && persyaratan.path_dokumen" href="{{persyaratan.path_dokumen}}" target="_blank">Unduh</a>
                        <span *ngIf="persyaratan.path_dokumen == '' || !persyaratan.path_dokumen">Belum Unggah</span>
                      </div>
                      <div class="table-cell w-4/6">
                        <mat-form-field appearance="fill" class="w-full">
                          <mat-select placeholder="Verifikasi" name="formulir"
                            [(ngModel)]="persyaratan.id_status_dokumen" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let item of listDataStatusDokumen" [value]="item.id">
                              {{ item.status_dokumen }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="table-row w-full mt-2">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Keterangan</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <textarea matInput placeholder="Tuliskan keterangan terkait status verifikasi bila ada pesan yang ingin disampaikan kepada pendaftar
                      " type="text" formControlName="keterangan"></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="flex justify-center w-full">
                    <div class="btn-action mx-28">
                      <button mat-raised-button type="submit" mat-raised-button class="btn btn-success"
                        [disabled]="!formGroup.valid">
                        Simpan
                      </button>
                      <button mat-raised-button routerLink="/pmb/dashboard" type="button" mat-raised-button
                        class="btn btn-info">
                        Batal
                      </button>
                    </div>
                  </div>

                  <!-- <div class="table-row w-full mt-2">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"></label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600"></div>
                    <div class="row px-2">
                      <button type="submit" mat-raised-button class="btn btn-success">Simpan</button>
                      <button type="submit" mat-raised-button class="btn btn-info">Batal</button>
                    </div>
                  </div> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>