<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Detail Gelombang</h4>
            </div>
          </div>
          <ngx-spinner
            [name]="spinnerName"
            [fullScreen]="false"
            type="line-scale-pulse-out"
            size="small"
          >
            <span class="text-white text-xl">{{ spinnerStatus }}</span>
          </ngx-spinner>
          <div class="card-body">
            <div class="toolbar text-right">
              <button
                type="button"
                mat-raised-button
                class="btn btn-danger"
                routerLink="/pmb/master/gelombang"
              >
                Kembali
              </button>
            </div>
            <section class="col-md-10 mx-auto">
              <form [formGroup]="formGroup" #formNgForm="ngForm" class="w-full">
                <div class="title mb-2">
                  <h3 class="font-medium text-lg text-success">Informasi Dasar</h3>               
                </div>
                <div class="">
                  <span class="row" >
                    <div class="col-md-6">
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Institusi</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base " style="color: black;"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full " appearance="fill">
                            <mat-select
                              placeholder="Institusi"
                              name="kode_institusi"
                              formControlName="kode_institusi"
                            >
                              <mat-option
                                
                                *ngFor="let ls of listDataInstitusi"
                                [value]="ls.kode"
                              >
                                <span style="font-size:larger">{{ ls.name }}</span>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="table-row w-full mt-4">
                      <label
                        class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                        >Tahun Akademik</label
                      >
                      <div
                        class="table-cell px-3 text-sm font-base " style="color: black;"
                      >
                        :
                      </div>
                      <div class="table-cell w-4/6 pb-3">
                        <mat-form-field class="w-full" appearance="fill">
                          <mat-select
                            name="kode_institusi"
                            formControlName="kode_tahun_akademik"
                          >
                            <mat-option
                              *ngFor="let ls of listDataTahunAkademik"
                              [value]="ls.tahun"
                            >
                              {{ ls.tahun_akademik }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    </div>
                  </span>

                  <div class="title mb-2">
                    <h3 class="font-medium text-lg text-success">Waktu Gelombang</h3>
                    <hr>
                  </div>
    

                  <div class="row">
                    <div class="col-md-6">
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Gelombang Ke -</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base " style="color: black;"
                        >
                          :
                        </div>
                        <div class="table-cell w-4/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <mat-select
                              name="kode_institusi"
                              formControlName="id_gelombang"
                            >
                              <mat-option
                                *ngFor="let ls of listDataGelombangKe"
                                [value]="ls.id"
                              >
                                {{ ls.id }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Mulai Pendaftaran</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill" >
                            <input
                              matInput
                              style="color: black"
                              type="datetime-local"
                              formControlName="mulai_pendaftaran"
                            />
                          </mat-form-field>
                        </div>
                      </div>
    
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Selesai Pendaftaran</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <input
                              matInput
                              style="color: black"
                              type="datetime-local"
                              formControlName="selesai_pendaftaran"
                            />
                          </mat-form-field>
                        </div>
                      </div>
    
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Selesai Pendaftaran Online</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <input
                              matInput
                              style="color: black"
                              type="datetime-local"
                              formControlName="selesai_pendaftaran_online"
                            />
                          </mat-form-field>
                        </div>
                      </div>
    
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Tanggal Ujian</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <input
                              matInput
                              style="color: black"
                              type="date"
                              formControlName="tanggal_ujian"
                            />
                          </mat-form-field>
                        </div>
                      </div>
    
                     
                    </div>
                    <div class="col-md-6">
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Jam Ujian</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <input
                              matInput
                              style="color: black"
                              type="time"
                              formControlName="jam_ujian_mulai"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Mulai Pengumuman</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <input
                              matInput
                              style="color: black"
                              type="datetime-local"
                              formControlName="mulai_pengumuman"
                            />
                          </mat-form-field>
                        </div>
                      </div>
    
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Selesai Pengumuman</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <input
                              matInput
                              style="color: black"
                              type="datetime-local"
                              formControlName="selesai_pengumuman"
                            />
                          </mat-form-field>
                        </div>
                      </div>
    
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Mulai Registrasi</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <input
                              matInput
                              style="color: black"
                              type="datetime-local"
                              formControlName="mulai_registrasi"
                            />
                          </mat-form-field>
                        </div>
                      </div>
    
                      <div class="table-row w-full mt-4">
                        <label
                          class="table-cell w-1/3 mb-2 text-sm font-medium" style="color: black;"
                          >Selesai Registrasi</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-600"
                        >
                          :
                        </div>
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full" appearance="fill">
                            <input
                              matInput
                              style="color: black"
                              type="datetime-local"
                              formControlName="selesai_registrasi"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>

                  
                </div>
              </form>
              <div class="flex justify-center w-full">
                <!-- <div class="btn-action mx-28">
                  <button
                    mat-raised-button
                    type="button"
                    class="btn btn-fill btn-yarsi mr-2"
                    [disabled]="!formGroup.valid"
                    (click)="onSubmit()"
                  >
                    Simpan
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    class="btn btn-fill btn-yarsi bg-danger"
                    (click)="cancel('')"
                  >
                    Batal
                  </button>
                </div> -->
              </div>
            </section>

            <!-- <lk-form-validation-monitor [mainFormGroup]="formGroup"></lk-form-validation-monitor> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
