<div class="card shadow-none">
  <div class="card-header card-header-success card-header-text">
    <div class="card-text">
      <h4 class="card-title">Jabatan</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <form [formGroup]="formGroup" #formNgForm="ngForm" class="w-full">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Jabatan Dosen</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="jabatan_dosen" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Jabatan</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="jabatan" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Jabatan Akademik</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="jabatan_akademik" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Jabatan Dikti</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="jabatan_dikti" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Golongan</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="golongan" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Ikatan</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="ikatan" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Bank</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="bank" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nama Bank</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="nama_bank" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nama Akun</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="nama_akun" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nomor Akun</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="nomor_akun" />
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
