<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 ">
        <div class="card-body flex">
          <div class="col-md-3 ">
            <div class="card card-pricing card-raised">
              <div class="card-body">
                <h6 class="card-category">LAYANAN <P></P> ADMINISTRASI</h6>
                <div class="card-icon icon-success">
                  <i class="material-icons">hub</i>
                </div>
                <h3 class="card-title">Deskripsi Layanan </h3>
                <a href="#" class="btn btn-success btn-round">Isi Kuisioner</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card card-pricing card-raised">
              <div class="card-body">
                <h6 class="card-category">Layanan Kemahasiswaaan</h6>
                <div class="card-icon icon-danger">
                  <i class="material-icons">groups</i>
                </div>
                <h3 class="card-title">Deskripsi Layanan </h3>
                <a href="#" class="btn btn-danger btn-round">Isi Kuisioner</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-pricing card-raised">
              <div class="card-body">
                <h6 class="card-category">Layanan Laboratorium</h6>
                <div class="card-icon icon-info">
                  <i class="material-icons">science</i>
                </div>
                <h3 class="card-title">Deskripsi Layanan </h3>
                <a href="#" class="btn btn-info btn-round">Isi Kuisioner</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card card-pricing card-raised">
              <div class="card-body">
                <h6 class="card-category">Layanan Akademik / PMB</h6>
                <div class="card-icon icon-rose">
                  <i class="material-icons">school</i>
                </div>
                <h3 class="card-title">Deskripsi Layanan </h3>
                <a href="#" class="btn btn-rose btn-round">Isi Kuisioner</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-mini-profil></app-mini-profil>
      </div>
    </div>
  </div>
</div>