<div class="card">
  <div class="card-header card-header-success card-header-text">
    <div class="card-text">
      <h4 class="card-title">Pekerjaan</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="warning-text py-2">
          <div class="toolbar text-right">
            <button type="button" mat-raised-button class="btn btn-yarsi" (click)="manageData('create')">
              <mat-icon class="icon-size-5">add</mat-icon>
              Tambah Pekerjaan
            </button>
          </div>
          <app-custom-table [listData]="listData" [events]="eventsLoad.asObservable()"></app-custom-table>
        </div>
      </div>
    </div>
  </div>
</div>
