<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Kalender Akademik</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
              <mat-form-field appearance="fill">
                <mat-label>Tahun AKademik</mat-label>
                <input matInput type="number" formControlName="tahun_akademik" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Gelombang</mat-label>
                <input matInput type="number" formControlName="gelombang" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Program Studi</mat-label>
                <input matInput type="text" formControlName="prodi" />
              </mat-form-field>
            </div>
          </div>
          <!-- end content-->
          <div class="card-footer">
            <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi">Tampilkan</button>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <div class=" flex">
        <div class="card col-md-4">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Kalender Akademik</h4>
            </div>
          </div>
          <div class="card-body text-left grid grid-cols-2 md:grid-cols-2">
            <p class="card-category font-medium">Pengisian Kartu Rencana Studi</p>
            <h4 class="card-category">20212</h4>

            <p class="card-category font-medium">Nama Tahun</p>
            <h4 class="card-category">Semester Genap 2021 - 2022</h4>

            <p class="card-category font-medium">Program Studi</p>
            <h4 class="card-category">Teknik Industri</h4>

            <p class="card-category font-medium">Tidak Aktif ?</p>
            <h4 class="card-category"><i class="fa fa-book" aria-hidden="true"></i></h4>
          </div>
        </div>
        <div class="card col-md-4">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Kartu Rancangan Studi</h4>
            </div>
          </div>
          <div class="card-body text-left grid grid-cols-2 md:grid-cols-2">
            <p class="card-category font-medium">Pengisian Kartu Rencana Studi</p>
            <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

            <p class="card-category font-medium">Perubahan Kartu Rencana Studi (Add/Drop)</p>
            <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

            <p class="card-category font-medium">Batas Pengajuan Cuti</p>
            <h4 class="card-category">18-11-2021</h4>

            <p class="card-category font-medium">Batas Pengajuan Mundur Kuliah</p>
            <h4 class="card-category">18-11-2021</h4>

            <p class="card-category font-medium">Batas Pengambilan Kelebihan Uang Kuliah</p>
            <h4 class="card-category">18-11-2021</h4>
            <p class="card-category font-medium">Masa Pembayaran</p>
            <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>
            <p class="card-category font-medium">Periode Perkuliahan</p>
            <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>
          </div>
        </div>
        <div class="card col-md-4">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Periode Ujian dan Penilaian</h4>
            </div>
          </div>
          <div class="card-body text-left grid grid-cols-2 md:grid-cols-2">
            <p class="card-category font-medium">Ujian Tengah Semester ( UTS )</p>
            <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

            <p class="card-category font-medium">Ujian Akhir Semester ( UAS )</p>
            <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

            <p class="card-category font-medium">Batas Akhir Penilaian</p>
            <h4 class="card-category">18-11-2021</h4>

            <p class="card-category font-medium">Catatan </p>
            <h4 class="card-category">Isi Catatan </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>