<div class="main-content">
  <div class="container" style="background-color: white">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="./assets/img/faces/ava.png" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Administrator</h6>
            <h4 class="card-title">Halo! Selamat Datang</h4>
            <h1><strong>Admin</strong></h1>
            <br />
            <button mat-raised-button class="btn btn-rose btn-round">
              <i class="material-icons">manage_accounts</i> Manage Akun
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Ikhtisar:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item active">
                    <a href="#reg" class="nav-link" data-toggle="tab">
                      <i class="material-icons">contact_mail</i> Registrasi
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#keuangan" class="nav-link" data-toggle="tab">
                      <i class="material-icons">account_balance</i> Keuangan
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#lulusan" class="nav-link" data-toggle="tab">
                      <i class="material-icons">school</i> Lulusan
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#nil" class="nav-link" data-toggle="tab">
                      <i class="material-icons">tips_and_updates</i> Nilai
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="reg">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card card-stats">
                      <div
                        class="card-header card-header-warning card-header-icon"
                      >
                        <div class="card-icon">
                          <i class="material-icons">people</i>
                        </div>
                        <p class="card-category">Pengajuan 0 SKS</p>
                        <h4 class="card-title">49/2000 Mhs</h4>
                      </div>
                      <div class="card-footer">
                        <i class="material-icons text-danger">warning</i>
                        <h1>Silakan diProses</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card card-stats">
                      <div
                        class="card-header card-header-success card-header-icon"
                      >
                        <div class="card-icon">
                          <i class="material-icons">badge</i>
                        </div>
                        <p class="card-category">Pengajuan KRS</p>
                        <h3 class="card-title">1234/2000 Mhs</h3>
                      </div>
                      <div class="card-footer">
                        <i class="material-icons text-danger">warning</i>
                        <h1>Silakan diProses</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card card-stats">
                      <div
                        class="card-header card-header-danger card-header-icon"
                      >
                        <div class="card-icon">
                          <i class="material-icons">person_off</i>
                        </div>
                        <p class="card-category">Belum Perwalian</p>
                        <h3 class="card-title">14/2000 MHS</h3>
                      </div>
                      <div class="card-footer">
                        <i class="material-icons text-danger">warning</i>
                        <h1>Silakan diProses</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="keuangan">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card card-stats">
                      <div
                        class="card-header card-header-success card-header-icon"
                      >
                        <div class="card-icon">
                          <i class="material-icons">monetization_on</i>
                        </div>
                        <p class="card-category">Rekening Aktif</p>
                        <h3 class="card-title">Bank BTN</h3>
                      </div>
                      <div class="card-footer">
                        <p>No.Rek : 60156000000</p>
                        <a href="#"><h1>Ganti Rekening?</h1></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-stats">
                      <div
                        class="card-header card-header-rose card-header-icon"
                      >
                        <div class="card-icon">
                          <i class="material-icons">date_range</i>
                        </div>
                        <p class="card-category">Jatuh Tempo DPP</p>
                        <h3 class="card-title">01/01/2022</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="lulusan">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div
                        class="card-header card-header-info card-header-info"
                      >
                        <div class="card-icon">
                          <i class="material-icons">school</i>
                        </div>
                        <h4 class="card-title">Lulusan</h4>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class="text-primary">
                                <tr>
                                  <th *ngFor="let cell of tableData1.headerRow">
                                    {{ cell }}
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let row of tableData1.dataRows">
                                  <td>{{ row[0] }}</td>
                                  <td>{{ row[1] }}</td>
                                  <td>{{ row[2] }}</td>
                                  <td>{{ row[3] }}</td>
                                  <td class="text-primary">{{ row[4] }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="nil">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Rekap Nilai per Prodi</h4>
                      </div>
                      <div class="card-body">
                        <div id="accordion" role="tablist">
                          <div class="card-collapse">
                            <div class="card-header" role="tab" id="headingOne">
                              <h5 class="mb-0">
                                <a
                                  data-toggle="collapse"
                                  href="#collapseOne"
                                  aria-expanded="true"
                                  aria-controls="collapseOne"
                                  class="collapsed"
                                >
                                  Teknik Industri
                                  <i class="material-icons"
                                    >keyboard_arrow_down</i
                                  >
                                </a>
                              </h5>
                            </div>
                            <div
                              id="collapseOne"
                              class="collapse show"
                              role="tabpanel"
                              aria-labelledby="headingOne"
                              data-parent="#accordion"
                            >
                              <div class="card-body">
                                <p>
                                  Nilai Ter Rekap 30 / 60 Matkul (Progres Rekap)
                                </p>
                                <br />
                                <mat-progress-bar
                                  mode="indeterminate"
                                ></mat-progress-bar>
                              </div>
                            </div>
                          </div>
                          <div class="card-collapse">
                            <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                <a
                                  class="collapsed"
                                  data-toggle="collapse"
                                  href="#collapseTwo"
                                  aria-expanded="false"
                                  aria-controls="collapseTwo"
                                >
                                  Teknik Pangan
                                  <i class="material-icons"
                                    >keyboard_arrow_down</i
                                  >
                                </a>
                              </h5>
                            </div>
                            <div
                              id="collapseTwo"
                              class="collapse"
                              role="tabpanel"
                              aria-labelledby="headingTwo"
                              data-parent="#accordion"
                            >
                              <div class="card-body">
                                <p>
                                  Nilai Ter Rekap 75 / 80 Matkul (Final Rekap)
                                </p>
                                <br />
                                <mat-progress-bar
                                  mode="determinate"
                                  value="95"
                                ></mat-progress-bar>
                              </div>
                            </div>
                          </div>
                          <div class="card-collapse">
                            <div
                              class="card-header"
                              role="tab"
                              id="headingThree"
                            >
                              <h5 class="mb-0">
                                <a
                                  class="collapsed"
                                  data-toggle="collapse"
                                  href="#collapseThree"
                                  aria-expanded="false"
                                  aria-controls="collapseThree"
                                >
                                  Teknik Mesin
                                  <i class="material-icons"
                                    >keyboard_arrow_down</i
                                  >
                                </a>
                              </h5>
                            </div>
                            <div
                              id="collapseThree"
                              class="collapse"
                              role="tabpanel"
                              aria-labelledby="headingThree"
                              data-parent="#accordion"
                            >
                              <div class="card-body">
                                <p>
                                  Nilai Ter Rekap 30 / 60 Matkul (Progres Rekap)
                                </p>
                                <br />
                                <mat-progress-bar
                                  mode="indeterminate"
                                ></mat-progress-bar>
                              </div>
                            </div>
                          </div>
                          <div class="card-collapse">
                            <div
                              class="card-header"
                              role="tab"
                              id="headingThree"
                            >
                              <h5 class="mb-0">
                                <a
                                  class="collapsed"
                                  data-toggle="collapse"
                                  href="#collapseFour"
                                  aria-expanded="false"
                                  aria-controls="collapseFour"
                                >
                                  Teknik Informatika
                                  <i class="material-icons"
                                    >keyboard_arrow_down</i
                                  >
                                </a>
                              </h5>
                            </div>
                            <div
                              id="collapseFour"
                              class="collapse"
                              role="tabpanel"
                              aria-labelledby="headingThree"
                              data-parent="#accordion"
                            >
                              <div class="card-body">
                                <p>
                                  Nilai Ter Rekap 30 / 60 Matkul (Progres Rekap)
                                </p>
                                <br />
                                <mat-progress-bar
                                  mode="indeterminate"
                                ></mat-progress-bar>
                              </div>
                            </div>
                          </div>
                          <div class="card-collapse">
                            <div
                              class="card-header"
                              role="tab"
                              id="headingThree"
                            >
                              <h5 class="mb-0">
                                <a
                                  class="collapsed"
                                  data-toggle="collapse"
                                  href="#collapseFive"
                                  aria-expanded="false"
                                  aria-controls="collapseFive"
                                >
                                  Teknik Lingkungan
                                  <i class="material-icons"
                                    >keyboard_arrow_down</i
                                  >
                                </a>
                              </h5>
                            </div>
                            <div
                              id="collapseFive"
                              class="collapse"
                              role="tabpanel"
                              aria-labelledby="headingThree"
                              data-parent="#accordion"
                            >
                              <div class="card-body">
                                <p>
                                  Nilai Ter Rekap 30 / 60 Matkul (Progres Rekap)
                                </p>
                                <br />
                                <mat-progress-bar
                                  mode="indeterminate"
                                ></mat-progress-bar>
                              </div>
                            </div>
                          </div>
                          <div class="card-collapse">
                            <div
                              class="card-header"
                              role="tab"
                              id="headingThree"
                            >
                              <h5 class="mb-0">
                                <a
                                  class="collapsed"
                                  data-toggle="collapse"
                                  href="#collapseSix"
                                  aria-expanded="false"
                                  aria-controls="collapseSix"
                                >
                                  Teknik PWK
                                  <i class="material-icons"
                                    >keyboard_arrow_down</i
                                  >
                                </a>
                              </h5>
                            </div>
                            <div
                              id="collapseSix"
                              class="collapse"
                              role="tabpanel"
                              aria-labelledby="headingThree"
                              data-parent="#accordion"
                            >
                              <div class="card-body">
                                <p>
                                  Nilai Ter Rekap 30 / 60 Matkul (Progres Rekap)
                                </p>
                                <br />
                                <mat-progress-bar
                                  mode="indeterminate"
                                ></mat-progress-bar>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-rose card-header-info">
            <div class="card-icon">
              <i class="material-icons">timeline</i>
            </div>
            <h4 class="card-title">Tingkat Kehadiran Akademisi (Prodi)</h4>
          </div>
          <div class="card-body">
            <div id="colouredBarsChart" class="ct-chart"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12">
                <h6 class="card-category">Legend</h6>
              </div>
              <div class="col-12">
                <i class="fa fa-circle text-info"></i> MHS
                <i class="fa fa-circle text-warning"></i> Dosen
                <i class="fa fa-circle text-danger"></i> Tenaga Akademik
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning card-header-info">
            <div class="card-icon">
              <i class="material-icons">pie_chart</i>
            </div>
            <h4 class="card-title">Status DPP Mahasiswa %</h4>
          </div>
          <div class="card-body">
            <div id="chartPreferences" class="ct-chart"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <h6 class="card-category">Legend</h6>
              </div>
              <div class="col-md-12">
                <i class="fa fa-circle text-info"></i> 0%
                <i class="fa fa-circle text-warning"></i> =>50%
                <i class="fa fa-circle text-danger"></i> 100%
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-primary card-header-info">
            <div class="card-icon">
              <i class="material-icons">timeline</i>
            </div>
            <h4 class="card-title">Tingkat Penjualan Form PMB</h4>
          </div>
          <div class="card-body">
            <div id="simpleBarChart" class="ct-chart"></div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-warning card-header-info">
            <div class="card-icon">
              <i class="material-icons">emoji_events</i>
            </div>
            <h4 class="card-title">List IPK Mahasiswa</h4>
            <p class="card-category">
              Diambil terakhir pada tanggal 15 September, 2021
            </p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData.dataRows">
                  <td *ngFor="let cell of row">{{ cell }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
