<div class="wrapper wrapper-full-page">
  <div
    class="page-header register-page header-filter"
    filter-color="black"
    style="
      background-image: url('../../../assets/img/pmb.png');
      background-size: cover;
      background-position: top center;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5 mr-auto ml-auto">
                  <div class="card-header card-header-success">
                    <h4 class="card-title">Selayang Pandang PMB</h4>
                    <p class="card-category">Universitas Yarsi</p>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-success">
                      <i class="material-icons">mosque</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Berkarakteristik Islami</h4>
                      <p class="description">
                        Perguruan Tinggi yang berpedoman pada nilai-nilai
                        islami.
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-warning">
                      <i class="material-icons">public</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">
                        Fasilitas Standar Internasional
                      </h4>
                      <p class="description">
                        Memiliki gedung dan fasilitas pendidikan dengan standar
                        internasional.
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-info">
                      <i class="material-icons">group</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Dosen dan Peniliti Terbaik</h4>
                      <p class="description">
                        Memiliki dosen dan peniliti terbaik di Indonesia.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-5 ml-auto mr-auto">
                  <img src="../../../assets/img/pmyar.jpg" alt="gedung" />
                  <div class="text-center">
                    <a
                      routerLink="/pmb/formulir"
                      class="btn btn-info btn-round mt-4"
                      >Pendaftaran Online</a
                    >
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-5 ml-auto">
                        <div class="card card-pricing card-raised">
                          <div class="card-body">
                            <h6 class="card-category">Brosur PMB</h6>
                            <div class="card-icon icon-success">
                              <i class="material-icons">assignment</i>
                            </div>
                            <p class="card-description">Unduh browsur PMB</p>
                            <a href="#" class="btn btn-success btn-round"
                              >Brosur PMB</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5 mr-auto">
                        <div class="card card-pricing card-raised">
                          <div class="card-body">
                            <h6 class="card-category">Login</h6>
                            <div class="card-icon icon-info">
                              <i class="material-icons">login</i>
                            </div>
                            <p class="card-description">Masuk PMB.</p>
                            <a href="/login" class="btn btn-info btn-round"
                              >Login</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-10 ml-auto mr-auto">
                        <carousel>
                          <div class="carousel-cell">
                            <img src="../../../assets/icon/Yarsi.png" />
                          </div>
                          <div class="carousel-cell">
                            <img
                              src="../../../assets/img/universitas-yarsi-jakarta.jpg"
                            />
                          </div>
                          <div class="carousel-cell">
                            <img
                              src="../../../assets/img/universitas-yarsi-1.jpg"
                            />
                          </div>
                        </carousel>
                      </div>
                      <div class="col-md-5 ml-auto">
                        <div class="card">
                          <div class="info info-horizontal">
                            <div class="icon icon-success">
                              <i class="material-icons">call</i>
                            </div>
                            <div class="description">
                              <h4 class="info-title">Hotline PMB</h4>
                              <p class="description">+62 (21) 4206675</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5 mr-auto">
                        <div class="card">
                          <div class="info info-horizontal">
                            <div class="icon icon-success">
                              <i class="material-icons">email</i>
                            </div>
                            <div class="description">
                              <h4 class="info-title">Email PMB</h4>
                              <p class="description">pmb@yarsi.ac.id</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header card-header-warning">
                      <h4 class="card-title">Jadwal PMB</h4>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-success">
                        <i class="material-icons">looks_one</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Pendaftaran</h4>
                        <p class="description">
                          Gelombang 1 :
                          <span class="badge badge-info"
                            >04 Jan 22 - 24 Apr 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 2 :
                          <span class="badge badge-info"
                            >26 Apr 22 - 03 Jul 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 3 :
                          <span class="badge badge-info"
                            >06 Jul 22 - 14 Agu 22</span
                          >
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-success">
                        <i class="material-icons">looks_two</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Ujian Masuk</h4>
                        <p class="description">
                          Gelombang 1 :
                          <span class="badge badge-info"
                            >04 Jan 22 - 24 Apr 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 2 :
                          <span class="badge badge-info"
                            >26 Apr 22 - 03 Jul 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 3 :
                          <span class="badge badge-info"
                            >06 Jul 22 - 14 Agu 22</span
                          >
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-success">
                        <i class="material-icons">looks_3</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Pengumuman</h4>
                        <p class="description">
                          Gelombang 1 :
                          <span class="badge badge-info"
                            >04 Jan 22 - 24 Apr 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 2 :
                          <span class="badge badge-info"
                            >26 Apr 22 - 03 Jul 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 3 :
                          <span class="badge badge-info"
                            >06 Jul 22 - 14 Agu 22</span
                          >
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-success">
                        <i class="material-icons">looks_4</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Registrasi</h4>
                        <p class="description">
                          Gelombang 1 :
                          <span class="badge badge-info"
                            >04 Jan 22 - 24 Apr 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 2 :
                          <span class="badge badge-info"
                            >26 Apr 22 - 03 Jul 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 3 :
                          <span class="badge badge-info"
                            >06 Jul 22 - 14 Agu 22</span
                          >
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-success">
                        <i class="material-icons">looks_5</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Pendaftaran OPMB</h4>
                        <p class="description">
                          Gelombang 1 :
                          <span class="badge badge-info"
                            >04 Jan 22 - 24 Apr 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 2 :
                          <span class="badge badge-info"
                            >26 Apr 22 - 03 Jul 22</span
                          >
                        </p>
                        <p class="description">
                          Gelombang 3 :
                          <span class="badge badge-info"
                            >06 Jul 22 - 14 Agu 22</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
