<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-warning">
            <img src="../../../assets/img/logo public/11.png" alt="mbkm" style="width: 250px;">
          </div>

          <div class="card-body">
            <div class="row">
              <div class="grid grid-cols-3 gap-4 col-md-12">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">history_edu</i>
                    </div>
                    <h1 class="card-title">
                      <strong>Pertukaran MHS</strong>
                    </h1>
                    <h2 class="card-title text-xl text-warning">582</h2>
                  </div>
                  <div class="card-footer">
                    <i class="material-icons text-warning">military_tech</i>
                    <h3 class="card-title">Alumnus : 95%</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">handshake</i>
                    </div>
                    <h1 class="card-title">
                      <strong>Mitra</strong>
                    </h1>
                    <h2 class="card-title text-xl text-warning">263</h2>
                  </div>
                  <div class="card-footer">
                    <i class="material-icons text-success">verified</i>
                    <h3 class="card-title">Rerata MHS per Semester : 76</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">biotech</i>
                    </div>
                    <h1 class="card-title">
                      <strong>Penelitian Terhimpun</strong>
                    </h1>
                    <h2 class="card-title text-xl text-warning">235</h2>
                  </div>
                  <div class="card-footer">
                    <i class="material-icons text-info">analytics</i>
                    <h3 class="card-title">Sesuai Evaluasi : 89%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Panduan Merdeka Belajar – Kampus Merdeka</h4>
          </div>
          <div class="card-body">
            <div id="accordion" role="tablist">

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia1">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic1" aria-expanded="false" aria-controls="ic1">
                      1. Persyaratan Umum
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic1" class="collapse" role="tabpanel" aria-labelledby="ia1" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Persyaratan Umum</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia2">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic2" aria-expanded="false" aria-controls="ic2">
                      2. Program
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic2" class="collapse" role="tabpanel" aria-labelledby="ia2" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Kegiatan Pembelajaran</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia3">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic3" aria-expanded="false" aria-controls="ic3">
                      3. Formulir Pendaftaran
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic3" class="collapse" role="tabpanel" aria-labelledby="ia3" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Formulir Pendaftaran</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia4">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic4" aria-expanded="false" aria-controls="ic4">
                      4. Surat Rekomendasi
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic4" class="collapse" role="tabpanel" aria-labelledby="ia4" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Surat Rekomendasi</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Pengumpulan Informasi Capaian Mutu</h4>
          </div>
          <div class="card-body text-center grid grid-cols-1 md:grid-cols-2">

            <p class="card-category font-bold">UPM-Prodi ke GKM</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">Minggu II di <br> Oktober, Februari, April, Juli</p>
            </h4>

            <p class="card-category font-bold">UPM-non Prodi ke GKM</p>
            <h4 class="card-category">
              <p class="badge badge-info w-150">Minggu II di <br> Oktober, Februari, April, Juli</p>
            </h4>

            <p class="card-category font-bold">GKM ke SPI</p>
            <h4 class="card-category">
              <p class="badge badge-primary w-150">Minggu I <br> Agustus, Maret</p>
            </h4>

            <p class="card-category font-bold">Biro/Lembaga/Satuan di Rektorat ke SPI</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">Minggu I <br> Agustus, Maret</p>
            </h4>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Jumlah Masasiswa MBKM</h4>
          </div>
          <div class="card-body">
            <div id="simpleBarChart" class="ct-chart"></div>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Timeline MBKM</h4>
          </div>
          <div class="card-body text-center grid grid-cols-1 md:grid-cols-2">
            <p class="card-category font-bold">Pendaftaran MBKM</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">25 September 2021</p>
            </h4>

            <p class="card-category font-bold">Seleksi Administratif dan Aka</p>
            <h4 class="card-category">
              <p class="badge badge-info w-150">04 Oktober 2021</p>
            </h4>

            <p class="card-category font-bold">Libur Nasional</p>
            <h4 class="card-category">
              <p class="badge badge-primary w-150">18 Maret 2022</p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Statistik MBKM Tahun Akademik 2022 - 2023</h4>
          </div>
          <div class="card-body">

            <table class="tg">
              <thead>
                <tr>
                  <th class="tg-ltdi">#</th>
                  <th class="tg-ltdi">Program Studi</th>
                  <th class="tg-ltdi">Fakultas</th>
                  <th class="tg-ltdi">Pendaftar</th>
                  <th class="tg-ltdi">Pertukaran Pelajar</th>
                  <th class="tg-ltdi">Magang / Praktik<br>Kerja</th>
                  <th class="tg-ltdi">Mengajar Di<br>Sekolah</th>
                  <th class="tg-ltdi">Penelitian / <br>Riset</th>
                  <th class="tg-ltdi">Proyek<br>Kemanusiaan</th>
                  <th class="tg-ltdi">Kegiatan<br>Wirausaha</th>
                  <th class="tg-ltdi">Studi / Proyek<br>Independen</th>
                  <th class="tg-ltdi">Pembangun Desa /<br> Kuliah Kerja Nyata</th>
                  <th class="tg-ltdi">Jumlah</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tg-ao2g">1</td>
                  <td class="tg-ao2g">Teknik Informatika</td>
                  <td class="tg-ao2g">Fakultas Teknik</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">21</td>
                  <td class="tg-ao2g">12</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">5</td>
                  <td class="tg-ao2g">6</td>
                  <td class="tg-ao2g">7</td>
                  <td class="tg-ao2g">8</td>
                  <td class="tg-ao2g">68</td>
                </tr>
                <tr>
                  <td class="tg-ao2g">2</td>
                  <td class="tg-ao2g">Teknik Industri</td>
                  <td class="tg-ao2g">Fakultas Teknik</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">21</td>
                  <td class="tg-ao2g">12</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">5</td>
                  <td class="tg-ao2g">6</td>
                  <td class="tg-ao2g">7</td>
                  <td class="tg-ao2g">8</td>
                  <td class="tg-ao2g">68</td>
                </tr>
                <tr>
                  <td class="tg-ao2g">2</td>
                  <td class="tg-ao2g">Teknik Pangan</td>
                  <td class="tg-ao2g">Fakultas Teknik</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">21</td>
                  <td class="tg-ao2g">12</td>
                  <td class="tg-ao2g">3</td>
                  <td class="tg-ao2g">5</td>
                  <td class="tg-ao2g">6</td>
                  <td class="tg-ao2g">7</td>
                  <td class="tg-ao2g">8</td>
                  <td class="tg-ao2g">68</td>
                </tr>
                <tr>
                  <td class="tg-ltdi" colspan="3">Jumlah</td>
                  <td class="tg-ltdi">9</td>
                  <td class="tg-ltdi">9</td>
                  <td class="tg-ltdi">63</td>
                  <td class="tg-ltdi">36</td>
                  <td class="tg-ltdi">9</td>
                  <td class="tg-ltdi">15</td>
                  <td class="tg-ltdi">18</td>
                  <td class="tg-ltdi">21</td>
                  <td class="tg-ltdi">24</td>
                  <td class="tg-ltdi">204</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>