<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-text card-header-warning">

            <div class="card-text">
              <h4 class="card-title text-xl flex items-center px-6">Halo! <span class="font-medium pl-2">Selamat Datang</span>
              </h4>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="grid grid-cols-4 gap-4 col-md-12">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon h-16">
                    <div class="card-icon w-16 h-16 p-1 mr-0.5">
                      <i class="material-icons">face</i>
                    </div>
                    <p class="card-category">MHS Aktif</p>
                    <h3 class="card-title">3000</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon h-16">
                    <div class="card-icon w-16 h-16 p-1 mr-0.5">
                      <i class="material-icons">biotech</i>
                    </div>
                    <p class="card-category">Ajuan 0 SKS</p>
                    <h3 class="card-title">750</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-secondary card-header-icon h-16">
                    <div class="card-icon w-16 h-16 p-1 mr-0.5">
                      <i class="material-icons">groups</i>
                    </div>
                    <p class="card-category truncate">Wisuda Gel-1</p>
                    <h3 class="card-title">500</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon h-16">
                    <div class="card-icon w-16 h-16 p-1 mr-0.5">
                      <i class="material-icons">article</i>
                    </div>
                    <p class="card-category">Lolos KRS</p>
                    <h3 class="card-title">2200</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Informasi Penting</h4>
          </div>
          <div class="card-body">
            <carousel [objectFit]="'cover'" [cellWidth]="'100%'" [height]="630" [autoplay]="true"
              [autoplayInterval]="3000" [transitionDuration]="1500" [dots]="true" [loop]="true">
              <div class="carousel-cell">
                <img src="../../../../assets/img/card-1.jpeg" />
              </div>
              <div class="carousel-cell">
                <img src="../../../../assets/img/card-2.jpeg" />
              </div>
              <div class="carousel-cell">
                <img src="../../../../assets/img/card-3.jpeg" />
              </div>
              <div class="carousel-cell">
                <img src="../../../../assets/img/card-1.jpeg" />
              </div>
              <div class="carousel-cell">
                <img src="../../../../assets/img/card-2.jpeg" />
              </div>
              <div class="carousel-cell">
                <img src="../../../../assets/img/card-3.jpeg" />
              </div>
            </carousel>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Pengumuman Akademik Universitas Yarsi</h4>
          </div>
          <div class="card-body">
            <div id="accordion" role="tablist">

              <div class="card-collapse">
                <div class="card-header" role="tab" id="h1">
                  <h5 class="mb-2">
                    <a data-toggle="collapse" href="#c1" aria-expanded="true" aria-controls="c1" class="collapsed">
                      Daftar Mahasiswa Lolol Pengajuan 0 SKS
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="c1" class="collapse show" role="tabpanel" aria-labelledby="h1" data-parent="#accordion">
                  <div class="card-body">
                    <table
                      class="table table-striped table-no-bordered table-hover text-sm responsive-table border-collapse border border-gray-400 whitespace-normal"
                      cellspacing="0" width="100%" style="width: 100%" *ngIf="!isScreenSmall">
                      <thead>
                        <tr>
                          <th *ngFor="let kolom of listData.header; let j = index" [ngClass]="kolom.class">{{
                            kolom.label }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="!isLoadingTable">
                          <tr *ngFor="let item of listData.data; let i = index">
                            <td [ngClass]="kolom.class" *ngFor="let kolom of listData.field; let j = index">
                              <span *ngIf="kolom.field == 'no'">
                                {{ i + 1 }}
                              </span>
                              <span *ngIf="kolom.field != 'action' && kolom.field != 'no' && kolom.field != 'aktif'">
                                {{ item[kolom.field] }}
                              </span>
                              <span *ngIf="kolom.field == 'aktif'">
                                <div class="flex flex-col items-center justify-center">
                                  <i class="fa fa-check text-green-500" *ngIf="item[kolom.field] == 'Y'"></i>
                                  <i class="fa fa-minus text-red-500" *ngIf="item[kolom.field] == 'T'"></i>
                                </div>
                              </span>
                              <span *ngIf="kolom.field == 'action'">
                                <button *ngFor="let action of listData.action; let k = index" mat-raised-button
                                  class="btn btn-just-icon btn-link btn-twitter"
                                  (click)="this[action.action_name](action.action_title, j, item)">
                                  <i [ngClass]="action.icon"></i>
                                </button>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                        <tr *ngIf="isLoadingTable">
                          <td class="text-center" [attr.colspan]="listData.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <mat-spinner class="my-2" [diameter]="30"></mat-spinner>
                              <span>Please wait</span>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="!isLoadingTable && listData.data.length == 0">
                          <td class="text-center" [attr.colspan]="listData.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <span>No Data</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="h2">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#c2" aria-expanded="false" aria-controls="c2">
                      IPK Tertinggi Setiap Angkatan
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="c2" class="collapse" role="tabpanel" aria-labelledby="h2" data-parent="#accordion">
                  <div class="card-body">
                    <table
                      class="table table-striped table-no-bordered table-hover text-sm responsive-table border-collapse border border-gray-400 whitespace-normal"
                      cellspacing="0" width="100%" style="width: 100%" *ngIf="!isScreenSmall">
                      <thead>
                        <tr>
                          <th *ngFor="let kolom of listData.header; let j = index" [ngClass]="kolom.class">{{
                            kolom.label
                            }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="!isLoadingTable">
                          <tr *ngFor="let item of listNilai.data; let i = index">
                            <td [ngClass]="kolom.class" *ngFor="let kolom of listNilai.field; let j = index">
                              <span *ngIf="kolom.field == 'no'">
                                {{ i + 1 }}
                              </span>
                              <span *ngIf="kolom.field != 'action' && kolom.field != 'no' && kolom.field != 'aktif'">
                                {{ item[kolom.field] }}
                              </span>
                              <span *ngIf="kolom.field == 'aktif'">
                                <div class="flex flex-col items-center justify-center">
                                  <i class="fa fa-check text-green-500" *ngIf="item[kolom.field] == 'Y'"></i>
                                  <i class="fa fa-minus text-red-500" *ngIf="item[kolom.field] == 'T'"></i>
                                </div>
                              </span>
                              <span *ngIf="kolom.field == 'action'">
                                <button *ngFor="let action of listNilai.action; let k = index" mat-raised-button
                                  class="btn btn-just-icon btn-link btn-twitter"
                                  (click)="this[action.action_name](action.action_title, j, item)">
                                  <i [ngClass]="action.icon"></i>
                                </button>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                        <tr *ngIf="isLoadingTable">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <mat-spinner class="my-2" [diameter]="30"></mat-spinner>
                              <span>Please wait</span>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="!isLoadingTable && listNilai.data.length == 0">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <span>No Data</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="h3">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#c3" aria-expanded="false" aria-controls="c3">
                      Sinkronisasi Virtual Account Via Bank
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="c3" class="collapse" role="tabpanel" aria-labelledby="h3" data-parent="#accordion">
                  <div class="card-body">
                    <table
                      class="table table-striped table-no-bordered table-hover text-sm responsive-table border-collapse border border-gray-400 whitespace-normal"
                      cellspacing="0" width="100%" style="width: 100%" *ngIf="!isScreenSmall">
                      <thead>
                        <tr>
                          <th *ngFor="let kolom of listData.header; let j = index" [ngClass]="kolom.class">{{
                            kolom.label
                            }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="!isLoadingTable">
                          <tr *ngFor="let item of listNilai.data; let i = index">
                            <td [ngClass]="kolom.class" *ngFor="let kolom of listNilai.field; let j = index">
                              <span *ngIf="kolom.field == 'no'">
                                {{ i + 1 }}
                              </span>
                              <span *ngIf="kolom.field != 'action' && kolom.field != 'no' && kolom.field != 'aktif'">
                                {{ item[kolom.field] }}
                              </span>
                              <span *ngIf="kolom.field == 'aktif'">
                                <div class="flex flex-col items-center justify-center">
                                  <i class="fa fa-check text-green-500" *ngIf="item[kolom.field] == 'Y'"></i>
                                  <i class="fa fa-minus text-red-500" *ngIf="item[kolom.field] == 'T'"></i>
                                </div>
                              </span>
                              <span *ngIf="kolom.field == 'action'">
                                <button *ngFor="let action of listNilai.action; let k = index" mat-raised-button
                                  class="btn btn-just-icon btn-link btn-twitter"
                                  (click)="this[action.action_name](action.action_title, j, item)">
                                  <i [ngClass]="action.icon"></i>
                                </button>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                        <tr *ngIf="isLoadingTable">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <mat-spinner class="my-2" [diameter]="30"></mat-spinner>
                              <span>Please wait</span>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="!isLoadingTable && listNilai.data.length == 0">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <span>No Data</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="h4">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#c4" aria-expanded="false" aria-controls="c4">
                      Sinkronisasi DPP
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="c4" class="collapse" role="tabpanel" aria-labelledby="h4" data-parent="#accordion">
                  <div class="card-body">
                    <table
                      class="table table-striped table-no-bordered table-hover text-sm responsive-table border-collapse border border-gray-400 whitespace-normal"
                      cellspacing="0" width="100%" style="width: 100%" *ngIf="!isScreenSmall">
                      <thead>
                        <tr>
                          <th *ngFor="let kolom of listData.header; let j = index" [ngClass]="kolom.class">{{
                            kolom.label
                            }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="!isLoadingTable">
                          <tr *ngFor="let item of listNilai.data; let i = index">
                            <td [ngClass]="kolom.class" *ngFor="let kolom of listNilai.field; let j = index">
                              <span *ngIf="kolom.field == 'no'">
                                {{ i + 1 }}
                              </span>
                              <span *ngIf="kolom.field != 'action' && kolom.field != 'no' && kolom.field != 'aktif'">
                                {{ item[kolom.field] }}
                              </span>
                              <span *ngIf="kolom.field == 'aktif'">
                                <div class="flex flex-col items-center justify-center">
                                  <i class="fa fa-check text-green-500" *ngIf="item[kolom.field] == 'Y'"></i>
                                  <i class="fa fa-minus text-red-500" *ngIf="item[kolom.field] == 'T'"></i>
                                </div>
                              </span>
                              <span *ngIf="kolom.field == 'action'">
                                <button *ngFor="let action of listNilai.action; let k = index" mat-raised-button
                                  class="btn btn-just-icon btn-link btn-twitter"
                                  (click)="this[action.action_name](action.action_title, j, item)">
                                  <i [ngClass]="action.icon"></i>
                                </button>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                        <tr *ngIf="isLoadingTable">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <mat-spinner class="my-2" [diameter]="30"></mat-spinner>
                              <span>Please wait</span>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="!isLoadingTable && listNilai.data.length == 0">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <span>No Data</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="h5">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#c5" aria-expanded="false" aria-controls="c5">
                      Statistik Wisudawan
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="c5" class="collapse" role="tabpanel" aria-labelledby="h5" data-parent="#accordion">
                  <div class="card-body">
                    <table
                      class="table table-striped table-no-bordered table-hover text-sm responsive-table border-collapse border border-gray-400 whitespace-normal"
                      cellspacing="0" width="100%" style="width: 100%" *ngIf="!isScreenSmall">
                      <thead>
                        <tr>
                          <th *ngFor="let kolom of listData.header; let j = index" [ngClass]="kolom.class">{{
                            kolom.label
                            }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="!isLoadingTable">
                          <tr *ngFor="let item of listNilai.data; let i = index">
                            <td [ngClass]="kolom.class" *ngFor="let kolom of listNilai.field; let j = index">
                              <span *ngIf="kolom.field == 'no'">
                                {{ i + 1 }}
                              </span>
                              <span *ngIf="kolom.field != 'action' && kolom.field != 'no' && kolom.field != 'aktif'">
                                {{ item[kolom.field] }}
                              </span>
                              <span *ngIf="kolom.field == 'aktif'">
                                <div class="flex flex-col items-center justify-center">
                                  <i class="fa fa-check text-green-500" *ngIf="item[kolom.field] == 'Y'"></i>
                                  <i class="fa fa-minus text-red-500" *ngIf="item[kolom.field] == 'T'"></i>
                                </div>
                              </span>
                              <span *ngIf="kolom.field == 'action'">
                                <button *ngFor="let action of listNilai.action; let k = index" mat-raised-button
                                  class="btn btn-just-icon btn-link btn-twitter"
                                  (click)="this[action.action_name](action.action_title, j, item)">
                                  <i [ngClass]="action.icon"></i>
                                </button>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                        <tr *ngIf="isLoadingTable">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <mat-spinner class="my-2" [diameter]="30"></mat-spinner>
                              <span>Please wait</span>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="!isLoadingTable && listNilai.data.length == 0">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <span>No Data</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="h6">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#c6" aria-expanded="false" aria-controls="c6">
                      Nilai Kuliah Terbaru
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="c6" class="collapse" role="tabpanel" aria-labelledby="h6" data-parent="#accordion">
                  <div class="card-body">
                    <table
                      class="table table-striped table-no-bordered table-hover text-sm responsive-table border-collapse border border-gray-400 whitespace-normal"
                      cellspacing="0" width="100%" style="width: 100%" *ngIf="!isScreenSmall">
                      <thead>
                        <tr>
                          <th *ngFor="let kolom of listData.header; let j = index" [ngClass]="kolom.class">{{
                            kolom.label
                            }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="!isLoadingTable">
                          <tr *ngFor="let item of listNilai.data; let i = index">
                            <td [ngClass]="kolom.class" *ngFor="let kolom of listNilai.field; let j = index">
                              <span *ngIf="kolom.field == 'no'">
                                {{ i + 1 }}
                              </span>
                              <span *ngIf="kolom.field != 'action' && kolom.field != 'no' && kolom.field != 'aktif'">
                                {{ item[kolom.field] }}
                              </span>
                              <span *ngIf="kolom.field == 'aktif'">
                                <div class="flex flex-col items-center justify-center">
                                  <i class="fa fa-check text-green-500" *ngIf="item[kolom.field] == 'Y'"></i>
                                  <i class="fa fa-minus text-red-500" *ngIf="item[kolom.field] == 'T'"></i>
                                </div>
                              </span>
                              <span *ngIf="kolom.field == 'action'">
                                <button *ngFor="let action of listNilai.action; let k = index" mat-raised-button
                                  class="btn btn-just-icon btn-link btn-twitter"
                                  (click)="this[action.action_name](action.action_title, j, item)">
                                  <i [ngClass]="action.icon"></i>
                                </button>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                        <tr *ngIf="isLoadingTable">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <mat-spinner class="my-2" [diameter]="30"></mat-spinner>
                              <span>Please wait</span>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="!isLoadingTable && listNilai.data.length == 0">
                          <td class="text-center" [attr.colspan]="listNilai.header.length">
                            <div class="flex flex-col items-center justify-center">
                              <span>No Data</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Informasi Akademik</h4>
          </div>
          <div class="card-body">
            <div id="accordion" role="tablist">

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia1">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic1" aria-expanded="false" aria-controls="ic1">
                      Akademik
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic1" class="collapse" role="tabpanel" aria-labelledby="ia1" data-parent="#accordion">
                  <div class="card-body">

                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia2">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic2" aria-expanded="false" aria-controls="ic2">
                      Perkuliahan
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic2" class="collapse" role="tabpanel" aria-labelledby="ia2" data-parent="#accordion">
                  <div class="card-body">

                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia3">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic3" aria-expanded="false" aria-controls="ic3">
                      Nilai
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic3" class="collapse" role="tabpanel" aria-labelledby="ia3" data-parent="#accordion">
                  <div class="card-body">

                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia4">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic4" aria-expanded="false" aria-controls="ic4">
                      Hasil kuisioner
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic4" class="collapse" role="tabpanel" aria-labelledby="ia4" data-parent="#accordion">
                  <div class="card-body">

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Ajuan KRS</h4>
          </div>
          <div class="card-body text-center grid grid-cols-1 md:grid-cols-2">

            <p class="card-category font-bold">Mahasiswa - 2018</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">150 Orang</p>
            </h4>

            <p class="card-category font-bold">Mahasiswa - 2019</p>
            <h4 class="card-category">
              <p class="badge badge-info w-150">150 Orang</p>
            </h4>

            <p class="card-category font-bold">Mahasiswa - 2020</p>
            <h4 class="card-category">
              <p class="badge badge-primary w-150">150 Orang</p>
            </h4>

            <p class="card-category font-bold">Mahasiswa - 2021</p>
            <h4 class="card-category">
              <p class="badge badge-success w-150">150 Orang</p>
            </h4>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Timeline Akademik</h4>
          </div>
          <div class="card-body text-center grid grid-cols-1 md:grid-cols-2">
            <p class="card-category font-bold">PMB</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">25 September 2021</p>
            </h4>

            <p class="card-category font-bold">Pengisian KRS</p>
            <h4 class="card-category">
              <p class="badge badge-info w-150">04 Oktober 2021</p>
            </h4>

            <p class="card-category font-bold">Libur Nasional</p>
            <h4 class="card-category">
              <p class="badge badge-primary w-150">18 Maret 2022</p>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>