<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Verifikasi Kelulusan Peserta</h4>
            </div>
          </div>
          <div class="card-body">
            <form
              [formGroup]="formGroup"
              (ngSubmit)="onSubmit()"
              #formNgForm="ngForm"
              class="w-full"
            >
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="title mb-2">
                    <h3 class="font-medium text-lg">Informasi Peserta</h3>
                  </div>
                  <ngx-spinner
                    [name]="spinnerName"
                    [fullScreen]="false"
                    type="line-scale-pulse-out"
                    size="small"
                  >
                    <span class="text-white text-xl">{{ spinnerStatus }}</span>
                  </ngx-spinner>
                  <div class="table-row w-full mt-4">
                    <label
                      class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
                      >No. PMB / No. Test</label
                    >
                    <div
                      class="table-cell px-3 text-sm font-base text-gray-600"
                    >
                      :
                    </div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field class="w-full">
                        <input
                          matInput
                          type="text"
                          placeholder="No. PMB / No. Test"
                          formControlName="formulir_id"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="table-row w-full mt-4">
                    <label
                      class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
                      >Nama</label
                    >
                    <div
                      class="table-cell px-3 text-sm font-base text-gray-600"
                    >
                      :
                    </div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field class="w-full">
                        <input
                          matInput
                          type="text"
                          placeholder="Nama"
                          formControlName="nama"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div
                    class="table-row w-full mt-4"
                    *ngFor="let prodi of listDataPilihanProdi; let i = index"
                  >
                    <label
                      class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
                      >Pilihan {{ i + 1 }}</label
                    >
                    <div
                      class="table-cell px-3 text-sm font-base text-gray-600"
                    >
                      :
                    </div>
                    <div class="table-cell w-2/6">
                      <mat-form-field class="w-full">
                        <input
                          matInput
                          type="text"
                          [placeholder]="'Pilih Pilihan' + (i + 1)"
                          [(ngModel)]="prodi.value"
                          [ngModelOptions]="{ standalone: true }"
                          [disabled]="prodi.disabled"
                        />
                      </mat-form-field>
                    </div>
                    <div class="table-cell w-3/6">
                      <span
                        class="badge badge-pill badge-success"
                        *ngIf="prodi.id_status_seleksi == '1'"
                        >{{ prodi.status_seleksi }}</span
                      >
                      <span
                        class="badge badge-pill badge-danger"
                        *ngIf="prodi.id_status_seleksi == '2'"
                        >{{ prodi.status_seleksi }}</span
                      >
                      <span
                        class="badge badge-pill badge-info"
                        *ngIf="
                          prodi.id_status_seleksi != '1' &&
                          prodi.id_status_seleksi != '2'
                        "
                        >{{ prodi.status_seleksi }}</span
                      >
                    </div>
                  </div>

                  <!-- DOKUMEN PERSYARATAN -->

                  <div class="title mb-2">
                    <h3 class="font-medium text-lg">Nilai Rapor</h3>
                  </div>

                  <section
                    class="nilai-semester-4"
                    *ngFor="let item of dataPesertaNilai"
                  >
                    <div class="title mb-2">
                      <h3 class="font-medium text-base text-gray-500">
                        Nilai Semester {{ item.semester }}
                      </h3>
                    </div>
                    <div
                      class="nilai-umum grid md:grid-cols-3 sm:grid-cols-1 gap-3"
                    >
                      <div
                        class="table mb-0"
                        *ngFor="let matkul of item.matkul"
                      >
                        <div class="table-row">
                          <div class="table-cell w-36 pb-3 text-right">
                            {{ matkul.name }}
                          </div>
                          <div class="table-cell w-10">:</div>
                          <div class="table-cell pb-3">
                            <mat-form-field
                              class="example-full-width"
                              appearance="fill"
                            >
                              <input
                                matInput
                                type="number"
                                [(ngModel)]="matkul.nilai"
                                [ngModelOptions]="{ standalone: true }"
                                readonly
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <br />
                  <hr />
                  <br />

                  <div class="table-row w-full mt-2">
                    <label
                      class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
                      >Catatan Verifikator</label
                    >
                    <div
                      class="table-cell px-3 text-sm font-base text-gray-600"
                    >
                      :
                    </div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <textarea
                          matInput
                          placeholder="Tuliskan keterangan terkait status verifikasi bila ada pesan yang ingin disampaikan kepada pendaftar
                      "
                          type="text"
                          formControlName="catatan"
                          readonly
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="table-row w-full mt-2">
                    <label
                      class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
                      >Status Kelulusan</label
                    >
                    <div
                      class="table-cell px-3 text-sm font-base text-gray-600"
                    >
                      :
                    </div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field appearance="fill">
                        <input
                          matInput
                          type="text"
                          formControlName="status_seleksi"
                        />
                        <!-- <mat-select placeholder="Pilih Status Kelulusan">
                          <input
                            matInput
                            type="text"
                            name="status_seleksi"
                            formControlName="status_seleksi"
                            disabled
                          />
                          <mat-option
                            *ngFor="let item of listDataStatus"
                            [value]="item.id"
                          >
                            {{ item.status_seleksi }}
                          </mat-option>
                        </mat-select> -->
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="table-row w-full mt-2">
                    <label
                      class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
                    ></label>
                    <div
                      class="table-cell px-3 text-sm font-base text-gray-600"
                    ></div>
                    <div class="row px-2">
                      <!-- <button
                        type="submit"
                        mat-raised-button
                        class="btn btn-success"
                      >
                        Simpan
                      </button> -->
                      <button
                        type="button"
                        mat-raised-button
                        class="btn btn-info"
                        (click)="toRoute(true)"
                      >
                        Batal
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
