<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Pengajuan 0 SKS</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="card col-md-8">
              <div class="card-body text-left ">
                <table class="tg">
                  <thead>
                    <tr>
                      <th class="tg-hvao">Persyaratan Pengajuan 0 SKS</th>
                      <th class="tg-zv4m" colspan="2"><i style="color: red;" class="fa fa-minus-circle" aria-hidden="true"></i> Belum Lengkap</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tg-hvao">Riwayat 0 SKS</td>
                      <td class="tg-zv4m" colspan="2"><i style="color: red;" class="fa fa-minus-circle" aria-hidden="true"></i> - %</td>
                    </tr>
                    <tr>
                      <td class="tg-hvao">Status Akademik</td>
                      <td class="tg-zv4m" colspan="2">Non-Aktif</td>
                    </tr>
                    <tr>
                      <td class="tg-hvao">Pembayaran DPP</td>
                      <td class="tg-zv4m"><i style="color: red;" class="fa fa-minus-circle" aria-hidden="true"></i></td>
                      <td class="tg-zv4m">Belum Membayar DPP</td>
                    </tr>
                    <tr>
                      <td class="tg-hvao">Raihan SKS</td>
                      <td class="tg-zv4m"><i style="color: green;" class="fa fa-check-circle" aria-hidden="true"></i></td>
                      <td class="tg-zv4m">138 dari minimal 138 SKS</td>
                    </tr>
                    <tr>
                      <td class="tg-hvao">Lulus Mata Kuliah Wajib</td>
                      <td class="tg-zv4m"><i style="color: green;" class="fa fa-check-circle" aria-hidden="true"></i></td>
                      <td class="tg-zv4m">46 dari 46 Matakuliah</td>
                    </tr>
                    <tr>
                      <td class="tg-zk76">Lulus Mata Kuliah Wajib Minimal C</td>
                      <td class="tg-zv4m"><i style="color: green;" class="fa fa-check-circle" aria-hidden="true"></i></td>
                      <td class="tg-zv4m">20 dari 20 Matakuliah</td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>

        </div>
      </div>
    </div>