<!-- <h2 mat-dialog-title>
  <span *ngIf="dataParam.type == 'create'">Tambah Data</span>
  <span *ngIf="dataParam.type == 'update'">Edit Data</span>
</h2> -->
<mat-dialog-content class="mat-typography">
  <ngx-spinner
            [name]="spinnerName"
            [fullScreen]="false"
            type="line-scale-pulse-out"
            size="small"
          >
            <span class="text-white text-xl">{{ spinnerStatus }}</span>
          </ngx-spinner>
  <div class="col-md-12" style="width: 1380px;">
    <form
              [formGroup]="formGroup"
              #formNgForm="ngForm"
              class="w-full"
            >
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="title mb-2">
                    <h3 class="font-medium text-lg">Informasi Peserta</h3>
                  </div>
                  <!-- <ngx-spinner
                    [name]="spinnerName"
                    [fullScreen]="false"
                    type="line-scale-pulse-out"
                    size="small"
                  >
                    <span class="text-white text-xl">{{ spinnerStatus }}</span>
                  </ngx-spinner> -->
                  <div class="row">
                    <div class="col-md-3">
                      <div class="table-row w-full mt-4">
                        <div class="table-cell w-6/12 pb-3">
                          <mat-form-field class="w-full">
                            <input
                              matInput
                              type="text"
                              placeholder="No. PMB / No. Peserta"
                              formControlName="formulir_id"
                              style="color: rgb(37, 37, 37)"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="table-row w-full mt-4">
                        <div class="table-cell w-5/6 pb-3">
                          <mat-form-field class="w-full">
                            <input
                              matInput
                              type="text"
                              placeholder="Nama"
                              formControlName="nama"
                              style="color: rgb(37, 37, 37)"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="table-row w-full mt-2">
                        <label
                          class="table-cell w-1/6 mb-2 text-sm font-base text-gray-500 font-semibold"
                          style="color: rgb(37, 37, 37)"
                          >Kartu Kelulusan</label
                        >
                        <div
                          class="table-cell px-3 text-sm font-base text-gray-500"
                        >
                          :
                        </div>
                        <div class="table-cell w-2/6 pb-3">
                          <a
                                href="{{ dataPeserta.link_info }}"
                                target="_blank"
                                class="btn btn-success rounded-full"
                                >Unduh</a
                              >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="">
                            <div class="table-row w-full mt-4">
                              <div class="table-cell w-6/12 pb-3">
                                <mat-form-field class="w-full">
                                  <input
                                    matInput
                                    type="text"
                                    placeholder="Handphone"
                                    formControlName="handphone"
                                    style="color: rgb(37, 37, 37)"
                                  />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="table-row w-full mt-4">
                              <div class="table-cell w-5/6 pb-3">
                                <mat-form-field class="w-full">
                                  <input
                                    matInput
                                    type="text"
                                    placeholder="Email"
                                    formControlName="email"
                                    style="color: rgb(37, 37, 37)"
                                  />
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="table-row w-full mt-4">
                            <div class="">
                              <div
                              class="table-row w-full mt-4"
                              *ngFor="
                                let prodi of listDataPilihanProdi;
                                let i = index
                              "
                            >
                              <!-- <label
                                class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
                                >Pilihan {{ i + 1 }}</label
                              >
                              <div
                                class="table-cell px-3 text-sm font-base text-gray-600"
                              >
                                :
                              </div> -->
                              <div class="table-cell w-2/6">
                                <mat-form-field class="w-full">
                                  <input
                                    matInput
                                    type="text"
                                    [placeholder]="'Pilihan Ke - ' + (i + 1)"
                                    [(ngModel)]="prodi.value"
                                    [ngModelOptions]="{ standalone: true }"
                                    [disabled]="prodi.disabled"
                                    style="color: rgb(37, 37, 37)"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="table-cell w-3/6 ">
                                <span
                                  class="badge badge-pill badge-success"
                                  *ngIf="prodi.id_status_seleksi == '1'"
                                  >{{ prodi.status_seleksi }}</span
                                >
                                <span
                                  class="badge badge-pill badge-danger"
                                  *ngIf="prodi.id_status_seleksi == '2'"
                                  >{{ prodi.status_seleksi }}</span
                                >
                                <span
                                  class="badge badge-pill badge-info"
                                  *ngIf="
                                    prodi.id_status_seleksi != '1' &&
                                    prodi.id_status_seleksi != '2'
                                  "
                                  >{{ prodi.status_seleksi }}</span
                                >
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        
                        
                        
                      </div>
                    </div>
                    
                  </div>

                  <!-- <div class="table-row w-full mt-4" formArrayName="prodi_pilihan"
                    *ngFor="let prodi of prodi_pilihan.controls;let i = index" [formGroupName]="i">
                    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Pilihan {{ i + 1 }}</label>
                    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                    <div class="table-cell w-5/6 pb-3">
                      <mat-form-field class="w-full">
                          <input matInput type="text" [placeholder]="'Pilih Pilihan'+(i + 1)" formControlName="prodi"/>
                      </mat-form-field>
                    </div>
                  </div> -->

                  <!-- DOKUMEN PERSYARATAN -->

                  <div class="title mb-2">
                    <h3 class="font-medium text-lg" style="color: rgb(37, 37, 37)">Dokumen Persyaratan</h3>
                    <span><b>( <span style="color: red">*</span> Dokumen wajib )</b></span>
                    <div class="row">
                      <div class="col-md-7">
                        <div
                          class="flex flex-row mt-2"
                          *ngFor="
                            let persyaratan of listDataPersyaratan;
                            let i = index
                          "
                        >
                          <div class="table-row w-full">
                            <label
                              class="table-cell w-2/6 mb-2 text-sm font-base font-medium"
                              style="color: rgb(37, 37, 37)"
                              >{{ persyaratan.persyaratan }}
                              <span
                                *ngIf="persyaratan.required == 'Y'"
                                style="color: red"
                              >
                                *
                              </span>
                            </label>
                            <div
                              class="table-cell px-3 text-sm font-base text-gray-600"
                            >
                              <strong>:</strong>
                            </div>
                            <div class="table-cell w-1/6">
                              <a
                                *ngIf="
                                  persyaratan.path_dokumen != '' &&
                                  persyaratan.path_dokumen
                                "
                                href="{{ persyaratan.path_dokumen }}"
                                target="_blank"
                                class="btn btn-success rounded-full"
                                >Unduh</a
                              >
                              <span
                                *ngIf="
                                  persyaratan.path_dokumen == '' ||
                                  !persyaratan.path_dokumen
                                "
                                class="btn btn-warning rounded-full"
                                >Belum Unggah</span
                              >
                            </div>
                            <div class="table-cell w-2/4">
                              <mat-form-field appearance="fill" class="w-full">
                                <mat-select
                                  name="formulir"
                                  [(ngModel)]="persyaratan.id_status_dokumen"
                                  [ngModelOptions]="{ standalone: true }"
                                >
                                  <mat-option
                                    *ngFor="let item of listDataStatusDokumen"
                                    [value]="item.id"
                                  >
                                    {{ item.status_dokumen }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="table-row w-full mt-2">
                          <div class="table-cell w-1/2 pb-3">
                            <mat-form-field class="example-full-width">
                              <textarea
                                matInput
                                placeholder="Tuliskan catatan untuk peserta"
                                type="text"
                                formControlName="keterangan"
                                style="color: rgb(37, 37, 37)"
                              ></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="table-row w-full mt-2">
                          <div
                            class="table-cell w-1/12 pb-3"
                            style="width: 300px"
                          >
                            <mat-form-field class="example-full-width">
                              <textarea
                                matInput
                                placeholder="Tuliskan catatan untuk verifikator kelulusan"
                                type="text"
                                formControlName="catatan"
                                style="color: rgb(37, 37, 37)"
                              ></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
 <!-- <a class="btn btn-fill btn-yarsi bg-danger" (click)="toHome()">Kembali</a> -->
        <!-- <a class="btn btn-success" (click)="onSubmit()">Simpan</a> -->
 <button mat-button mat-dialog-close class="btn btn-danger">Tutup</button> 
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>