<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success">
            <img src="../../../assets/img/logo public/10.png" alt="layar" style="width: 250px;">
          </div>

          <div class="card-body">
            <div class="row">
              <div class="grid grid-cols-3 gap-4 col-md-12">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">face</i>
                    </div>
                    <p class="card-title text-left font-bold">Jumlah Course</p>
                  </div>
                  <div class="card-footer">
                    <h3 class="card-title">Total : 1087</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">biotech</i>
                    </div>
                    <p class="card-title text-left font-bold">Kepuasan Manajemen</p>
                  </div>
                  <div class="card-footer">
                    <h3 class="card-title">Sesuai Evaluasi : 89%</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-secondary card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">groups</i>
                    </div>
                    <p class="card-title text-left font-bold">Kepuasan Dosen</p>
                  </div>
                  <div class="card-footer">
                    <h3 class="card-title">Sesuai Evaluasi : 89%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Kalender Akademik</h4>
          </div>
          <div class="card-body text-left grid grid-cols-1 md:grid-cols-2">
            <p class="card-category font-bold">PMB</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">25 September 2021</p>
            </h4>

            <p class="card-category font-bold">Pengisian KRS</p>
            <h4 class="card-category">
              <p class="badge badge-info w-150">04 Oktober 2021</p>
            </h4>

            <p class="card-category font-bold">UTS Ganjil</p>
            <h4 class="card-category">
              <p class="badge badge-dark w-150">12 November 2021</p>
            </h4>

            <p class="card-category font-bold">UAS Ganjil</p>
            <h4 class="card-category">
              <p class="badge badge-dark w-150">20 Desember 2021</p>
            </h4>

            <p class="card-category font-bold">Libur Nasional</p>
            <h4 class="card-category">
              <p class="badge badge-primary w-150">18 Maret 2022</p>
            </h4>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Jumlah Course Per Tahun</h4>
          </div>
          <div class="card-body">
            <div id="simpleBarChart" class="ct-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>