// Icons Color
.min-icon,
.delete-icon {
  color: #dc3545;
}

.edit-icon {
  color: #ffc107;
}

mat-card.card-data-mahasiswa {
  mat-card-header {
    height: 48px;
    background-color: #343a40;
  }
  mat-card-content {
    border: 2px solid #343a40;
    border-radius: 0 0 6px 6px;

    .card-avatar {
      max-width: 130px;
      max-height: 130px;
      border-radius: 100%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .card-title {
      padding-left: 24px;
    }
  }
}

// MEDIA QUERIES
// Phone Screen
@media (min-width: 320px) and (max-width: 640px) {
  .container-fluid {
    padding: 0;
  }

  .row-card-data-mahasiswa {
    display: block;
  }

  // Card (data mahasiswa)
  mat-card.card-data-mahasiswa {
    .profil-pengguna {
      flex-direction: column;
      justify-content: center;

      .card-title {
        text-align: center;
        padding-top: 16px;
        padding-left: 0;
      }
    }
  }
}
