<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-yarsi card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Pendaftaran Tugas Akhir/Skripsi/Tesis/Disertasi</h4>
          </div>
          <div class="card-body">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Cari NPM Mahasiswa" type="text">
            </mat-form-field>
          </div>
          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi">Cari</button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-yarsi card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Data Mahasiswa</h4>
          </div>
          <div class="card-body">
            <mat-list>
              <mat-list-item>NPM</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Program</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Master Biaya & Potongan</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Nama</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Program Studi</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Dosen Wali</mat-list-item>
            </mat-list>
            <img src="https://demo-yarsi.ddns.net/demo/modul/simpati/gambar/besan.jpg" style="width: 225px; height: 225px;">
          </div>
        </div>
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>