<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-yarsi card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Penyetaraan Nilai Matakuliah</h4>
          </div>
          <div class="card-body">
            <mat-form-field>
              <mat-select placeholder="Tahun Akademik" name="TA">
                <mat-option *ngFor="let item of tahun_akademik" [value]="item.value">
                  {{ item.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="NPM" type="text" />
            </mat-form-field>
          </div>
          <!-- end content-->
          <div class="card-footer">
            <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi">Cari</button>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-6 -->

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="toolbar">
              <button mat-raised-button class="btn btn-info mb-4" routerLink="../tambah-penyetaraan-nilai">
                <span class="btn-label pr-1">
                  <i class="material-icons">add</i>
                </span>
                Tambah Data
              </button>
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover text-sm" cellspacing="0" width="100%" style="width: 100%">
                <thead>
                  <tr>
                    <th class="text-sm text-center w-20">No</th>
                    <th class="text-sm text-center">Kode</th>
                    <th class="text-sm text-left">Matakuliah</th>
                    <th class="text-sm text-center">SKS</th>
                    <th class="text-sm text-center">Nilai</th>
                    <th class="text-sm text-center">Bobot</th>
                    <th class="text-sm text-center">Tahun Akademik</th>
                    <th class="text-sm text-center">Ubah</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData; let i = index">
                    <td class="text-center">{{ item.no }}</td>
                    <td class="text-center">{{ item.kode }}</td>
                    <td class="text-left">{{ item.matakuliah }}</td>
                    <td class="text-center">{{ item.sks }}</td>
                    <td class="text-center">{{ item.nilai }}</td>
                    <td class="text-center">{{ item.bobot }}</td>
                    <td class="text-center">{{ item.tahun_akademik }}</td>
                    <td class="text-center">
                      <a href="#"><i class="material-icons text-warning">edit</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
