<div class="wrapper wrapper-full-page">
  <div class="page-header register-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card card-signup">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 mr-auto ml-auto">
                  <div class="col-md-12 text-center">
                    <h1>
                      Mohom maaf untuk saat ini menu belum dapat diakses, karena
                      sedang masa perbaikan. silahkan hubungi
                      <strong
                        >Administrator untuk informasi lebih lanjut</strong
                      >
                    </h1>
                    <h2>Atas Perhatiannya Kami Ucapkan Terima Kasih</h2>
                    <img
                      src="../../assets/img/404.png"
                      alt="Logo Yarsi"
                      style="width: 40%; margin: 10px auto"
                    />
                    <a routerLink="/pmb" class="btn btn-success w-34">
                      <span class="btn-label">
                        <i class="material-icons">other_houses</i>
                      </span>
                      Beranda</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
