<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <!-- <mat-tab-group class="mx-auto" style="background-color: white"> -->
            <!-- <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">person</i> &nbsp; Data Pribadi
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">house</i> &nbsp; Alamat Tetap
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">school</i> &nbsp; Akademik
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">work</i> &nbsp; Jabatan
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">account_tree</i> &nbsp; Struktural
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">history_edu</i> &nbsp; Pengajaran
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">biotech</i> &nbsp; Penelitian
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">loyalty</i> &nbsp; Pengabdian
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">psychology</i> &nbsp; Pendidikan
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="material-icons">directions_run</i> &nbsp; Kegiatan
                </ng-template>
                <app-dosen-kegiatan></app-dosen-kegiatan>
              </mat-tab> -->

            <!-- <mat-tab> -->
            <!-- <ng-template mat-tab-label>
                  <i class="material-icons">fitness_center</i> &nbsp; Pelatihan
                </ng-template> -->
            <!-- <app-dosen-pelatihan></app-dosen-pelatihan> -->
            <!-- </mat-tab> -->

            <!-- <mat-tab> -->
            <!-- <ng-template mat-tab-label>
                  <i class="material-icons">work</i> &nbsp; Pekerjaan
                </ng-template> -->
            <!-- <app-dosen-pekerjaan></app-dosen-pekerjaan> -->
            <!-- </mat-tab>
            </mat-tab-group> -->

            <!--<div class="page-categories">
              <ul class="nav nav-pills nav-pills-success nav-pills-icons justify-content-start" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                    <i class="material-icons">person</i> Data Pribadi
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                    <i class="material-icons">house</i> Alamat Tetap
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                    <i class="material-icons">people</i> Orang Tua
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
                    <i class="material-icons">school</i> Asal Sekolah
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link11" role="tablist">
                    <i class="material-icons">history_edu</i> Asal Perguruan Tinggi
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link12" role="tablist">
                    <i class="material-icons">account_balance_wallet</i> Bank
                  </a>
                </li>
              </ul>
              <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane active" id="link7">
                    <app-data-pribadi></app-data-pribadi>
                </div>
                <div class="tab-pane" id="link8">
                </div>
                <div class="tab-pane" id="link9">
                </div>
                <div class="tab-pane" id="link10">
                </div>
                <div class="tab-pane" id="link11">
                </div>
                <div class="tab-pane" id="link12">
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- <app-mini-profil></app-mini-profil> -->
      </div>
    </div>
  </div>
</div>
