<div class="col-md-12 mx-auto">
  <div>
    <div class="card-header card-header-success card-header-text ">
      <div class="card-text flex justify-center">
        <h4 class="card-title">Tambah Kriteria Penilaian</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="row py-3">
        <h4 class="text-center">Apakah Anda yakin akan menambah data yang telah dipilih ?</h4>
      </div>
      <div class="row pt-2">
        <div class="flex justify-center w-full">
          <div class="btn-action mx-28">
            <button mat-button [mat-dialog-close]="true" (click)="submitRequest()" class="btn btn-fill btn-yarsi mr-2">
              Tambah
            </button>
            <button class="btn btn-danger" mat-button mat-dialog-close>Batal</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>