<div class="card">
  <div class="card-header card-header-success card-header-text">
    <div class="card-text">
      <h4 class="card-title">Data Pribadi</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10 mx-auto">

      <div class="row">
        <div class="col-md-12">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Alamat</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Alamat" />
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">RT</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="RT" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">RW</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="RW" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Kode Pos</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Kode Pos" />
              </mat-form-field>
            </div>
          </div>
        </div>

        
          <div class="col-md-12">
            <div class="table-row w-full mt-4">
              <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Negara</label>
              <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
              <div class="table-cell w-5/6 pb-3">
                <mat-form-field class="w-full">
                  <input matInput type="text" placeholder="Negara" />
                </mat-form-field>
              </div>
            </div>
          </div>

            <div class="col-md-12">
              <div class="table-row w-full mt-4">
                <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Telepon</label>
                <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
                <div class="table-cell w-5/6 pb-3">
                  <mat-form-field class="w-full">
                    <input matInput type="text" placeholder="Telepon" />
                  </mat-form-field>
                </div>
              </div>
            </div>

        <div class="col-md-12 text-right">
          <div class="text-right px-2">
            <button type="submit" mat-raised-button class="btn btn-success mx-1">Simpan</button>
            <button type="submit" mat-raised-button class="btn btn-danger mx-1">Batal</button>
          </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>