<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-yarsi card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Pengajuan 0 SKS</h4>
          </div>
          <div class="card-body">
            <legend>Universitas Yarsi</legend>
            <mat-form-field class="example-full-width">
              <input placeholder="NPM" matInput type="text">
            </mat-form-field>
          </div>
          <!-- end content-->
          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi">NPM</button>
          </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-6 -->
    </div>
    <!-- end row -->
  </div>
</div>