<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-yarsi card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Rekap Kehadiran Dosen</h4>
          </div>
          <div class="card-body text-center mt-4">
            <p class="italic text-base">Untuk melihat preview klik <a class="font-medium" href="#">disini</a></p>

            <div class="button-action mt-4 mb-2">
              <button mat-flat-button class="btn btn-info text-white mr-2">Cetak Laporan</button>
              <button mat-flat-button class="btn btn-outline-secondary" routerLink="../laporan-kehadiran-dosen">Tutup</button>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
