<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container max-w-full">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="#"><img src="../../../assets/icon/yarsi-logo.png" alt="Yarsi Logo"
          class="w-20 m-auto"></a>

      <div class="navbar-minimize" *ngIf="isScreenSmall">
        <button mat-raised-button (click)="minimizeSidebar()" class="btn btn-just-icon btn-white btn-fab btn-round">
          <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
          <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
        </button>
      </div>

    </div>
    <button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()"
      *ngIf="isScreenSmall">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>

    <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
      
      <ul class="p-1" routerLinkActive="active" *ngFor="let menuitem of menuItems">
        <div class="dropdown">

          <button href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
              <i class="material-icons">  {{menuitem.icontype}}</i>   {{menuitem.title}}
            </a>
            <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'"
              (click)="clickMenuActive(menuitem.collapse)">
              <i class="material-icons"> {{menuitem.icontype}}</i>
              <span> {{menuitem.title}}<b class="caret"></b></span>
            </a>
          </button>

          <ul id="{{menuitem.collapse}}" class="dropdown-menu" *ngIf="menuitem.type === 'sub'">
            <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
              <a [routerLink]="[menuitem.path, childitem.path]" (click)="clickMenu(menuitem.collapse)">
                <span class="sidebar-mini">
                  <i class="material-icons">{{childitem.icontype}}</i>
                </span>
                <span class="sidebar-normal">{{childitem.title}}</span>
              </a>
            </li>
          </ul>

        </div>
      </ul>

      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button mat-raised-button class="btn btn-danger" (click)="logout()">Logout
              <i class="material-icons">logout</i>
            </button>
          </li>
        </ul>
      </div>
    </ngx-navbar-collapse>    
  </div>
</nav>