<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-yarsi card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Surat Progres Pbm</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <button type="button" matTooltip="Filter Data" mat-raised-button class="btn btn-yarsi"
                (click)="manageData(null)">
                Filter Data
              </button>
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover text-sm" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th class="text-sm text-center w-20">No.</th>
                    <th class="text-sm text-center w-20">Kode</th>
                    <th class="text-sm text-center">Nama</th>
                    <th class="text-sm disabled-sorting text-center w-20">Status</th>
                    <th class="text-sm disabled-sorting text-center w-20">MK</th>
                    <th class="text-sm text-center w-20">Kelas</th>
                    <th class="text-sm w-20">Minggu Ke</th>
                    <th class="text-sm w-20">Rata-rata Kehadiran</th>
                    <th class="text-sm disabled-sorting text-center w-20">Cetak Individual</th>
                    <th class="text-sm disabled-sorting text-center w-20">Cetak</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData; let i = index">
                    <td class="text-center">{{item.no}}</td>
                    <td class="text-center">{{item.kode}}</td>
                    <td class="text-center">{{item.nama}}</td>
                    <td class="text-center">{{item.status}}</td>
                    <td class="text-center">{{item.mk}}</td>
                    <td class="text-center">{{item.kelas}}</td>
                    <td class="text-center">{{item.mingguke}}</td>
                    <td class="text-center">{{item.ratarata}}</td>
                    <td class="text-center">{{item.cetakindividual}}</td>
                    <td class="text-center">{{item.cetak}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>