<ngx-spinner [name]="spinnerName" [fullScreen]="false" type="line-scale-pulse-out" size="small">
  <span class="text-white text-xl">{{ spinnerStatus }}</span>
</ngx-spinner>
<mat-dialog-content class="mat-typography">
  <div class="card-body mx-10 my-auto">
    <form [formGroup]="formGroup" #formNgForm="ngForm" class="w-full " style="width: 800px;height: 100%;">

      <div style="font-size: 14px; margin-bottom: 15px;">Ubah Data</div>

      <mat-dialog-content class="mat-typography">
        <div class="table-row w-full mt-4">
          <label class="table-cell w-1/6 mb-2 text-sm font-medium" style="color: black;">Nipy</label>
          <div class="table-cell px-3 text-sm font-base " style="color: black;">
            :
          </div>
          <div class="table-cell w-5/6 pb-3">
            <mat-form-field class="w-full">
              <input matInput type="text" formControlName="nipy" style="color: black;" />
            </mat-form-field>
          </div>
        </div>

        <div class="table-row w-full mt-4">
          <label class="table-cell w-1/6 mb-2 text-sm font-medium" style="color: black;">Nama</label>
          <div class="table-cell px-3 text-sm font-base " style="color: black;">
            :
          </div>
          <div class="table-cell w-5/6 pb-3">
            <mat-form-field class="w-full">
              <input matInput type="text" formControlName="nama" style="color: black;" />
            </mat-form-field>
          </div>
        </div>

        <div class="table-row w-full mt-4">
          <label class="table-cell w-1/6 mb-2 text-sm font-medium" style="color: black;">Handphone<span
              style="color: red">*</span></label>
          <div class="table-cell px-3 text-sm font-base " style="color: black;">
            :
          </div>


          <div class="table-cell w-5/6 pb-3">
            <mat-form-field class="w-full">
              <input matInput type="text" formControlName="handphone" />
            </mat-form-field>
          </div>
        </div>
        <div class="table-row w-full mt-4">
          <label class="table-cell w-1/6 mb-2 text-sm font-medium" style="color: black;">Jenis MGM<span
              style="color: red">*</span></label>
          <div class="table-cell px-3 text-sm font-base " style="color: black;">
            :
          </div>


          <div class="table-cell w-5/6 pb-3">
            <mat-form-field class="w-full ">
              <mat-select name="id_jenis_mgm" formControlName="id_jenis_mgm">
                <mat-option *ngFor="let ls of listDataJenisMgm" [value]="ls.id">
                  <span style="font-size:larger">{{ ls.jenis_mgm }}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>

      <div class="row">
        <div class="flex justify-center w-full">
          <div class="btn-action mx-28">
            <button mat-button [mat-dialog-close]="true" type="submit" class="btn btn-fill btn-yarsi mr-2"
              (click)="onSubmitData()">
              Simpan
            </button>
            <button class="btn btn-danger" mat-button mat-dialog-close>Batal</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>