<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text ">
              <h4 class="card-title">Kartu Rencana Studi</h4>
            </div>
          </div>
          <div class="card-body">
            <mat-form-field appearance="fill">
              <mat-label>Tahun Akademik</mat-label>
              <input matInput type="number" formControlName="tahun_akademik" />
            </mat-form-field>
          </div>
          <!-- end content-->
          <div class="card-footer">
            <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi">Tampilkan</button>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <div class=" flex">
          <div class="card col-md-4">
            <div class="card-header card-header-success card-header-text">
              <div class="card-text">
                <h4 class="card-title">Kartu Rancangan Studi</h4>
              </div>
            </div>
            <div class="card-body text-left grid grid-cols-2 md:grid-cols-2">
              <p class="card-category font-medium">Pengisian Kartu Rencana Studi</p>
              <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

              <p class="card-category font-medium">Perubahan Kartu Rencana Studi (Add/Drop)</p>
              <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengajuan</p>
              <h4 class="card-category">18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengajuan Mundur Kuliah</p>
              <h4 class="card-category">18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengambilan Kelebihan Uang Kuliah</p>
              <h4 class="card-category">18-11-2021</h4>
            </div>
          </div>
          <div class="card col-md-4">
            <div class="card-header card-header-success card-header-text">
              <div class="card-text">
                <h4 class="card-title">Kartu Rancangan Studi</h4>
              </div>
            </div>
            <div class="card-body text-left grid grid-cols-2 md:grid-cols-2">
              <p class="card-category font-medium">Pengisian Kartu Rencana Studi</p>
              <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

              <p class="card-category font-medium">Perubahan Kartu Rencana Studi (Add/Drop)</p>
              <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengajuan</p>
              <h4 class="card-category">18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengajuan Mundur Kuliah</p>
              <h4 class="card-category">18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengambilan Kelebihan Uang Kuliah</p>
              <h4 class="card-category">18-11-2021</h4>
            </div>
          </div>
          <div class="card col-md-4">
            <div class="card-header card-header-success card-header-text">
              <div class="card-text">
                <h4 class="card-title">Kartu Rancangan Studi</h4>
              </div>
            </div>
            <div class="card-body text-left grid grid-cols-2 md:grid-cols-2">
              <p class="card-category font-medium">Pengisian Kartu Rencana Studi</p>
              <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

              <p class="card-category font-medium">Perubahan Kartu Rencana Studi (Add/Drop)</p>
              <h4 class="card-category">18-11-2021 sd 18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengajuan</p>
              <h4 class="card-category">18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengajuan Mundur Kuliah</p>
              <h4 class="card-category">18-11-2021</h4>

              <p class="card-category font-medium">Batas Pengambilan Kelebihan Uang Kuliah</p>
              <h4 class="card-category">18-11-2021</h4>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>