<div class="card">
  <div class="card-header card-header-success card-header-text">
    <div class="card-text">
      <h4 class="card-title">Asal Perguruan Tinggi</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10 mx-auto">
      <div class="title mb-2">
        <h3 class="font-medium text-lg">Perguruan Tinggi Asal Mahasiswa</h3>
      </div>

      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Perguruan Tinggi</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Nomor Induk Perguruan Tinggi" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"></label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Nama Perguruan Tinggi" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <div class="text-right px-2">
          <button type="submit" mat-raised-button class="btn btn-primary mx-1">Cari</button>
        </div>
      </div>

      <div class="title mb-2">
      </div>
      <div class="table-row w-full mt-2">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Jurusan</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field appearance="fill">
            <mat-select placeholder="Pilih Jurusan" name="formulir">
              <mat-option>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Lulus</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <div class="flex flex-row items-center">
          <mat-checkbox class="example-margin">Ya?</mat-checkbox>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">IPK</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="IPK" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-right">
          <div class="text-right px-2">
            <button type="submit" mat-raised-button class="btn btn-success mx-1">Simpan</button>
            <button type="submit" mat-raised-button class="btn btn-danger mx-1">Batal</button>
          </div>
      </div>
      
    </div>
    </div>
    </div>
  </div>
</div>