<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-0">
          <div class="card-header card-header-warning">
            <img src="../../../assets/img/logo public/7.png" alt="OFFICE" style="width: 250px" />
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">menu_book</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Surat Masuk</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">8</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-danger">format_list_bulleted</i>
                      <h1>
                        <strong>Seluruh</strong>
                      </h1>
                    </div>
                  </div>

                  <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">menu_book</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Surat Keluar</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">28</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-danger">format_list_bulleted</i>
                      <h1>
                        <strong>Seluruh</strong>
                      </h1>
                    </div>
                  </div>

                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">menu_book</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Surat Masuk</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">28</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-danger">date_range</i>
                      <h1>
                        <strong>Tahun Saat Ini</strong>
                      </h1>
                    </div>
                  </div>

                  <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">menu_book</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Surat Keluar</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">28</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-danger">date_range</i>
                      <h1>
                        <strong>Tahun Saat Ini</strong>
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-12">
                <app-custom-table [listData]="listData" [events]="eventsLoad.asObservable()"></app-custom-table>
              </div>
            </div> -->

            <div class="row">
              <div class="col-md-12">
                <table class="min-w-full border text-center">
                  <thead class="border-b bg-header-table">
                    <tr>
                      <th scope="col" class="text-base font-bold text-white px-6 py-4 border-r">#</th>
                      <th scope="col" class="text-base font-bold text-white px-6 py-4 border-r">Tipe Surat</th>
                      <th scope="col" class="text-base font-bold text-white px-6 py-4 border-r">Perihal</th>
                      <th scope="col" class="text-base font-bold text-white px-6 py-4 border-r">status</th>
                      <th scope="col" class="text-base font-bold text-white px-6 py-4 border-r">Tembusan</th>
                      <th scope="col" class="text-base font-bold text-white px-6 py-4">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r">1</td>
                      <td class="text-sm text-gray-900 font-light text-left px-6 py-4 whitespace-nowrap border-r">
                        <span class="text-sm font-medium">Pemberitahuan</span>
                        <br />
                        <span class="text-sm">Disposisi</span>
                      </td>
                      <td class="text-sm text-gray-900 font-light text-left px-6 py-4 whitespace-nowrap border-r">
                        <span class="text-sm font-medium">Surat Undangan Sosialisasi</span>
                        <br />
                        <span class="text-sm"
                          >Dari : Ibu sekretaris kepala dinas <br />
                          No Surat: 256/987</span
                        >
                      </td>
                      <td class="text-sm text-gray-900 font-light text-left px-6 py-4 whitespace-nowrap border-r">
                        <span class="text-sm font-medium">Didisposisikan</span>
                        <br />
                        16 Mei 2022 14.50
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">-</td>
                      <td class="material-icons text-base text-warning font-bold px-6 py-4 whitespace-nowrap">edit</td>
                    </tr>

                    <tr class="border-b">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r">2</td>
                      <td class="text-sm text-gray-900 font-light text-left px-6 py-4 whitespace-nowrap border-r">
                        <span class="text-sm font-medium">Pengumuman</span>
                        <br />
                        <span class="text-sm">Masuk Eksternal</span>
                      </td>
                      <td class="text-sm text-gray-900 font-light text-left px-6 py-4 whitespace-nowrap border-r">
                        <span class="text-sm font-medium">Galang Dana</span>
                        <br />
                        <span class="text-sm"
                          >Dari : CV Ibu Kita<br />
                          No Surat: 256/987</span
                        >
                      </td>
                      <td class="text-sm text-gray-900 font-light text-left px-6 py-4 whitespace-nowrap border-r">
                        <span class="text-sm font-medium">Dibaca</span>
                        <br />
                        22 April 2022 14.50
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">Sebagai Tembusan</td>
                      <td class="material-icons text-base text-warning font-bold px-6 py-4 whitespace-nowrap border-r">edit</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
