<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">NCR Ketidaksesuaian</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="warning-text py-2">
              
            </div>

            <mat-tab-group>
              <mat-tab label="Ketidaksesuaian">
                <div class="row">
                  <div class="col-md-12">
                    <app-ketidaksesuaian></app-ketidaksesuaian>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Penyebab">
                <div class="row">
                  <div class="col-md-12">
                    <app-penyebab></app-penyebab>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="card-footer block">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
