<div class="card">
  <div class="card-header card-header-success card-header-text">
    <div class="card-text">
      <h4 class="card-title">Alamat Tetap</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10 mx-auto">

      <div class="row">
        <div class="col-md-12">
          <div class="title mb-2">
            <h3 class="font-medium text-lg">Data Akademik</h3>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Program</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Program" />
              </mat-form-field>
            </div>
          </div>
        
        <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Program Studi</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Program Studi" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Status</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Status" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Status Masuk</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Status Masuk" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Sesi / Smt Terakhir</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Sesi / Semester Terakhir" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Batas Studi</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Batas Studi" />
              </mat-form-field>
            </div>
          </div>

          <div class="title mb-2">
            <h3 class="font-medium text-lg">Data PMB</h3>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">No PMB</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Nomor PMB" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Periode</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Periode" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Jenis Formulir</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Jenis Formulir" />
              </mat-form-field>
            </div>
          </div>
          
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Grade Test</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Grade Test" />
              </mat-form-field>
            </div>
          </div>

          <div class="title mb-2">
            <h3 class="font-medium text-lg">Asal Sekolah</h3>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Sekolah</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Sekolah" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Jurusan</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Jurusan" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nilai Formulir</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Nilai Formulir" />
              </mat-form-field>
            </div>
          </div>

          <div class="title mb-2">
            <h3 class="font-medium text-lg">Asal Perguruan Tinggi</h3>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Perguruan Tinggi</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Perguruan Tinggi" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Program Studi</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Program Studi" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Tgl Lulus</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan Tgl Lulus" />
              </mat-form-field>
            </div>
          </div>

          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">IPK</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Masukkan IPK" />
              </mat-form-field>
            </div>
          </div>
                   
        </div>

        <div class="col-md-12 text-right">
          <div class="text-right px-2">
            <button type="submit" mat-raised-button class="btn btn-success mx-1">Simpan</button>
            <button type="submit" mat-raised-button class="btn btn-danger mx-1">Batal</button>
          </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>