<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-warning">
            <img src="../../../assets/img/logo public/1.png" alt="spmi" style="width: 250px;">
          </div>

          <div class="card-body">
            <div class="row">
              <div class="grid grid-cols-3 gap-4 col-md-12">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">face</i>
                    </div>
                    <p class="card-title text-left font-bold">Kepuasan MHS</p>
                  </div>
                  <div class="card-footer">
                    <h3 class="card-title">Sesuai Evaluasi : 89%</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">biotech</i>
                    </div>
                    <p class="card-title text-left font-bold">Kepuasan Manajemen</p>
                  </div>
                  <div class="card-footer">
                    <h3 class="card-title">Sesuai Evaluasi : 89%</h3>
                  </div>
                </div>

                <div class="card card-stats">
                  <div class="card-header card-header-secondary card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">groups</i>
                    </div>
                    <p class="card-title text-left font-bold">Kepuasan Dosen</p>
                  </div>
                  <div class="card-footer">
                    <h3 class="card-title">Sesuai Evaluasi : 89%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">SOP Audit</h4>
          </div>
          <div class="card-body">
            <div id="accordion" role="tablist">

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia1">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic1" aria-expanded="false" aria-controls="ic1">
                      1. Unpas-PM-07.03 tentang prosedur audit mutu internal
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic1" class="collapse" role="tabpanel" aria-labelledby="ia1" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Prosedur Mutu Audit Mutu Internal</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia2">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic2" aria-expanded="false" aria-controls="ic2">
                      2. Unpas-PM-08.18 tentang prosedur monev pembelajaran
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic2" class="collapse" role="tabpanel" aria-labelledby="ia2" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Prosedur Mutu Monitoring dan Evaluasi Pembelajaran</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia3">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic3" aria-expanded="false" aria-controls="ic3">
                      3. Unpas-PM-07.04 tentang survey kepuasan mahasiswa
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic3" class="collapse" role="tabpanel" aria-labelledby="ia3" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Prosedur Mutu Survey Kepuasan Mahasiswa</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia4">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic4" aria-expanded="false" aria-controls="ic4">
                      4. Unpas-PM-07.05 tentang survey kepuasan dosen
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic4" class="collapse" role="tabpanel" aria-labelledby="ia4" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Prosedur Mutu Survey Kepuasan Dosen</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-collapse">
                <div class="card-header" role="tab" id="ia5">
                  <h5 class="mb-2">
                    <a class="collapsed" data-toggle="collapse" href="#ic5" aria-expanded="false" aria-controls="ic5">
                      5. UNPAS-PM-07.06 tentang rapat tinjauan manajemen
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="ic5" class="collapse" role="tabpanel" aria-labelledby="ia5" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2"><img src="../../../assets/img/logo public/pdf.svg" alt="pdf"
                          style="width: 50px;"></div>
                      <div class="col-md-10">
                        <h4 class="card-title">Prosedur Mutu Rapat Tinjauan Manajemen</h4>
                        <button mat-raised-button class="btn btn-warning">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Informasi Penting</h4>
          </div>
          <div class="card-body">
            <app-custom-table [listData]="listData" [events]="eventsLoad.asObservable()"></app-custom-table>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Pengumpulan Informasi Capaian Mutu</h4>
          </div>
          <div class="card-body text-center grid grid-cols-1 md:grid-cols-2">

            <p class="card-category font-bold">UPM-Prodi ke GKM</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">Minggu II di <br> Oktober, Februari, April, Juli</p>
            </h4>

            <p class="card-category font-bold">UPM-non Prodi ke GKM</p>
            <h4 class="card-category">
              <p class="badge badge-info w-150">Minggu II di <br> Oktober, Februari, April, Juli</p>
            </h4>

            <p class="card-category font-bold">GKM ke SPI</p>
            <h4 class="card-category">
              <p class="badge badge-primary w-150">Minggu I <br> Agustus, Maret</p>
            </h4>

            <p class="card-category font-bold">Biro/Lembaga/Satuan di Rektorat ke SPI</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">Minggu I <br> Agustus, Maret</p>
            </h4>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Mutu Akademik</h4>
          </div>
          <div class="card-body">
            <div id="simpleBarChart" class="ct-chart"></div>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Timeline Akademik</h4>
          </div>
          <div class="card-body text-center grid grid-cols-1 md:grid-cols-2">
            <p class="card-category font-bold">PMB</p>
            <h4 class="card-category">
              <p class="badge badge-warning w-150">25 September 2021</p>
            </h4>

            <p class="card-category font-bold">Pengisian KRS</p>
            <h4 class="card-category">
              <p class="badge badge-info w-150">04 Oktober 2021</p>
            </h4>

            <p class="card-category font-bold">Libur Nasional</p>
            <h4 class="card-category">
              <p class="badge badge-primary w-150">18 Maret 2022</p>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>