<div class="card">
  <div class="card-header card-header-success card-header-text">
    <div class="card-text">
      <h4 class="card-title">Data Pribadi</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
      <div class="title mb-2">
        <h3 class="font-medium text-lg">Data Induk sesuai dengan KTP atau identitas resmi lain</h3>
      </div>

      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">NIK (Nomor Induk Kependudukan)</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="NIK (Nomor Induk Kependudukan)" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">NIK Ayah</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="NIK Ayah" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">NIK Ibu</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="NIK Ibu" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nama Ibu Kandung</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Nama Ibu Kandung" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nama Mahasiswa</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Nama Mahasiswa" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Tempat Lahir</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Tempat Lahir" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Tanggal Lahir</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Tanggal Lahir" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Jenis Kelamin</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-radio-button class="mr-4" value="1">Pria</mat-radio-button>
          <mat-radio-button value="2">Wanita</mat-radio-button>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Warga Negara</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Warga Negara" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Agama</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Agama" />
          </mat-form-field>
        </div>
      </div>
      <div class="table-row w-full mt-4">
        <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Status Sipil</label>
        <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
        <div class="table-cell w-5/6 pb-3">
          <mat-form-field class="w-full">
            <input matInput type="text" placeholder="Status Sipil" />
          </mat-form-field>
        </div>
      </div>

      <div class="title mb-2">
        <h3 class="font-medium text-lg">Kontak</h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Telepon</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Telepon" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Nomor HP / WA</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Nomor HP / WhatsApp" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Email</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Email" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="title mb-2">
        <h3 class="font-medium text-lg">Alamat menetap di DKI Jakarta bagi Mahasiwa dari luar DKI Jakarta</h3>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Alamat</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Alamat" />
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">RT</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="RT" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">RW</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="RW" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Domisili</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Domisili" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Desa / Kel.</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Desa / Kelurahan" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Kec.</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Kecamatan" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-row w-full mt-4">
            <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Kab. / Kota</label>
            <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
            <div class="table-cell w-5/6 pb-3">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="Kabupaten / Kota" />
              </mat-form-field>
            </div>
          </div>
        </div>

      <div class="col-md-4">
        <div class="table-row w-full mt-4">
          <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Prov.</label>
          <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
          <div class="table-cell w-5/6 pb-3">
            <mat-form-field class="w-full">
              <input matInput type="text" placeholder="Provinsi" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-row w-full mt-4">
          <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Kode Pos</label>
          <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
          <div class="table-cell w-5/6 pb-3">
            <mat-form-field class="w-full">
              <input matInput type="text" placeholder="Kode Pos" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-row w-full mt-4">
          <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600">Negara</label>
          <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
          <div class="table-cell w-5/6 pb-3">
            <mat-form-field class="w-full">
              <input matInput type="text" placeholder="Negara" />
            </mat-form-field>
          </div>
        </div>
      </div>
        <div class="col-md-12 text-right">
          <div class="text-right px-2">
            <button type="submit" mat-raised-button class="btn btn-success mx-1">Simpan</button>
            <button type="submit" mat-raised-button class="btn btn-danger mx-1">Batal</button>
          </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>