<div class="main-content">
  <div class="container">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card justify-content-center">
        <div class="card-header card-header-success card-header-text">
          <div class="card-text">
            <h4 class="card-title">Bukti Pendaftaran PMB Online</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <!-- <tr>
                  <th colspan="3">Bukti Pendaftaran PMB Online</th>
                </tr> -->
              </thead>
              <tbody>
                <tr>
                  <td><strong>Periode</strong></td>
                  <td>:</td>
                  <td>{{ dataPendaftaranPmb.gelombang }}</td>
                </tr>
                <tr>
                  <td><strong>No. Pendaftaran</strong></td>
                  <td>:</td>
                  <td>
                    <strong>{{ dataPendaftaranPmb.id }}</strong>
                  </td>
                </tr>
                <tr>
                  <td><strong>Password</strong></td>
                  <td>:</td>
                  <td>
                    <strong>{{ params.pass }}</strong>
                  </td>
                </tr>
                <tr>
                  <td><strong>Program Studi</strong></td>
                  <td>:</td>
                  <td>{{ dataPendaftaranPmb.prodi_pilihan_1 }}</td>
                </tr>
                <tr>
                  <td><strong>Jenis Formulir</strong></td>
                  <td>:</td>
                  <td>
                    {{ dataPendaftaranPmb.jenis_formulir }} : Rp.
                    {{ dataPendaftaranPmb.harga }}
                  </td>
                </tr>
                <tr>
                  <td><strong>No. Virtual Akun</strong></td>
                  <td>:</td>
                  <td>{{ dataPendaftaranPmb.nomor_va }}</td>
                </tr>
                <tr>
                  <td><strong>Nama</strong></td>
                  <td>:</td>
                  <td>{{ dataPendaftaranPmb.nama }}</td>
                </tr>
                <tr>
                  <td><strong>Alamat</strong></td>
                  <td>:</td>
                  <td>{{ dataPendaftaranPmb.alamat }}</td>
                </tr>
                <tr>
                  <td><strong>No.Telepon</strong></td>
                  <td>:</td>
                  <td>{{ dataPendaftaranPmb.handphone }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          class="card-footer justify-content-center"
          style="margin: -20px auto 20px auto"
        >
          <button
            mat-raised-button
            type="button"
            class="btn btn-fill btn-yarsi"
            (click)="cetakBuktiPendaftaran()"
          >
            Cetak Bukti Pendaftaran <i class="material-icons">print</i>
          </button>
          <a
            href="{{ dataPendaftaranPmb.link_reservasi }}"
            target="_blank"
            class="btn btn-fill btn-info"
          >
            Kirim Via WhatsApp <i class="material-icons">whatsapp</i></a
          >
          <button
            mat-raised-button
            routerLink="/pmb"
            type="button"
            class="btn btn-fill btn-warning"
          >
            Kembali
          </button>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>
