<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-yarsi card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Kebutuhan Ruang Ujian</h4>
          </div>
          <div class="card-body">

            <mat-form-field>
              <mat-select placeholder="Jenis Ujian" name="jenis_ujian">
                <mat-option *ngFor="let jenis_ujian of jenis_ujians" [value]="jenis_ujian.value">
                  {{ jenis_ujian.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Tahun Akademik" name="TA">
                <mat-option *ngFor="let TA of tahun_akademik" [value]="TA.value">
                  {{ TA.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Program" name="program">
                <mat-option *ngFor="let program of programs" [value]="program.value">
                  {{ program.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field>
              <mat-select placeholder="Program Studi" name="prodi">
                <mat-option *ngFor="let prodi of prodis" [value]="prodi.value">
                  {{ prodi.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- end content-->
          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi">Tampilkan</button>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-6 -->

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="toolbar">
              <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi">Cetak</button>
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover text-sm" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th class="text-sm disabled-sorting text-center w-20">No.</th>
                    <th class="text-sm disabled-sorting text-left">Mata Kuliah</th>
                    <th class="text-sm text-left">Dosen</th>
                    <th class="text-sm text-center">Peserta</th>
                    <th class="text-sm text-center">Kelas</th>
                    <th class="text-sm text-center">Ruang</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData; let i = index">
                    <td class="text-center">{{item.no}}</td>
                    <td class="text-left">{{item.matkul}}</td>
                    <td class="text-left">{{item.dosen}}</td>
                    <td class="text-center">{{item.Peserta}}</td>
                    <td class="text-center">{{item.kelas}}</td>
                    <td class="text-center">{{item.ruang}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi">Cetak</button>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>