<div class="col-md-12">
  <div class="row">
    <section class="example-section">
      <mat-checkbox>Saya ....... merekomendasikan mahasiswa atas nama ........ dengan NPM ....... program studi ....... untuk mendapatkan Surat Keterangan Pendamping Ijazah</mat-checkbox>
    </section>
  </div>
  
</div>
<div class="btn-action my-2">
  <button mat-raised-button type="submit" class="btn btn-fill btn-yarsi mr-2">Simpan</button>
  <button mat-raised-button routerLink="/pmb/dashboard-pmb" type="submit" class="btn btn-fill btn-yarsi bg-danger">Batal</button>
</div>