<div class="card">
  <div class="card-body">
    <div class="card card-profile">
      <div class="card-avatar">
          <img class="img" src="./assets/img/faces/ava.png" />
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">Administrator</h6>
        <h1><strong>Admin</strong></h1>
        <br />
      </div>
    </div>
    
    <div class="card">
      <div class="card-body text-left grid grid-cols-1 md:grid-cols-2">

            <p class="card-category font-medium">NPM</p>
            <h4 class="card-category">010101010</h4>

            <p class="card-category font-medium">Nama</p>
            <h4 class="card-category">Nama Mahasiswa</h4>

            <p class="card-category font-medium">Program</p>
            <h4 class="card-category">Nama Program</h4>

            <p class="card-category font-medium">Prodi</p>
            <h4 class="card-category">Nama Prodi</h4>

            <p class="card-category font-medium">Master Biaya</p>
            <h4 class="card-category">00000000</h4>

            <p class="card-category font-medium">Dosen Wali</p>
            <h4 class="card-category">Nama Dosen Wali</h4>
      </div>
    </div>
  </div>
</div>