<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">NCR Verifikasi Perbaikan</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="warning-text py-2">
              
              <!-- <iframe [src]="srcdoc" class="w-full" style="height: 90vh;" #iframe></iframe> -->
            </div>

            <mat-tab-group>
              <mat-tab label="Verifikasi Perbaikan">
                <div class="row">
                  <div class="col-md-12">
                    <app-verifikasi-perbaikan></app-verifikasi-perbaikan>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Tindakan Lanjut">
                <div class="row">
                  <div class="col-md-12">
                    <app-tindakan-lanjut></app-tindakan-lanjut>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="card-footer block">
            
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
