<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-success card-header-text">
            <div class="card-text">
              <h4 class="card-title">Kriteria Penilaian</h4>
            </div>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-10 mx-auto">
                <!-- DOKUMEN PERSYARATAN -->

                <div class="title mb-2">
                  <h3 class="font-medium text-lg">Butir Kriteria Penilaian</h3>

                  <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                      <div class="warning-text py-2">
                        <app-custom-table [listData]="listData" (dialogData)="dialogData($event)"
                          [events]="eventsLoad.asObservable()"></app-custom-table>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>