<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-0">
          <div class="card-header card-header-warning">
            <img src="../../../assets/img/logo public/12.png" alt="OFFICE" style="width: 250px" />
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                  <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">lock_reset</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Permintaan Ganti Password</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">50</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-danger">date_range</i>
                      <h1>
                        <strong>Bulan Ini</strong>
                      </h1>
                    </div>
                  </div>

                  <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">mark_email_read</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Permintaan Aktivasi Email</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">15</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-warning">date_range</i>
                      <h1>
                        <strong>Minggu Ini</strong>
                      </h1>
                    </div>
                  </div>

                  <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">menu_book</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Email Tidak Aktif</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">120</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-warning">poll</i>
                      <h1>
                        <strong>Seluruh</strong>
                      </h1>
                    </div>
                  </div>

                  <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">menu_book</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Email Aktif Alumnus</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">28</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-danger">date_range</i>
                      <h1>
                        <strong>Tahun Saat Ini</strong>
                      </h1>
                    </div>
                  </div>

                  <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">school</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Email Aktif Dosen & Staff</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">785</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-info">location_city</i>
                      <h1>
                        <strong>Seluruh Fakultas</strong>
                      </h1>
                    </div>
                  </div>

                  <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">groups</i>
                      </div>
                      <h1 class="card-title">
                        <strong>Email Aktif Mahasiswa</strong>
                      </h1>
                      <h2 class="card-title text-xl text-info">4356</h2>
                    </div>
                    <div class="card-footer">
                      <i class="material-icons text-success">contact_mail</i>
                      <h1>
                        <strong>Angkatan Aktif</strong>
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </div>


  </div>
</div>