<footer class="text-light">
  <div class="py-10 "
    style="background: rgb(0,142,214);background: linear-gradient(90deg, rgba(0,142,214,1) 35%, rgba(0,36,214,1) 100%);">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <div class="row mb-3">
            <div class="col-lg-12 flex">
              <!-- <h4 class="fw-bolder"><img src="assets/img/logo-kampus.png" alt="logo.png"
                                  height="50px" wight="50px"> -->
              <h2 class="font-medium">RAYCORP</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <a href="https://goo.gl/maps/zbaAAfTJsVoTCSjs9" target="_blank" class="font-normal">Jl. Sumatera No.41,
                Babakan Ciamis., Kec. Sumur Bandung,
                Kota Bandung,
                Jawa Barat 40117</a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <div class="row mb-2">
            <div class="col-lg-12">
              <h5 class="font-medium">Kontak Kami</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <a href="#" class="mb-1"><i class="fa-solid fa-phone"></i> (021)
                82624238</a><br />
              <a href="#"><i class="fa-solid fa-envelope"></i> raycors@raycors.ac.id</a>
            </div>
          </div>

        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <div class="row mb-2">
            <div class="col-lg-12">
              <h5 class="font-medium">Informasi</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <a href="#">Tentang Kami</a><br />

            </div>
          </div>

        </div>
        <!-- <div class="col-lg-1"></div>
        <div class="col-lg-2"></div> -->

      </div>
    </div>
  </div>
  <div class="footer-bottom  text-center p-3" style="background-color: #0024d6;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>{{test | date: 'yyyy'}}, SIP dan Rekan.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <footer class="footer">
  <div class="container">
    <div class="pull-left">
      <p class="text-left">Menara Yarsi, <br>
        Jl. Letjen Suprapto No.Kav. 13, RT.10/RW.5, <br>
        Cemp. Putih Tim., Kec. Cemp. Putih, <br>
        Kota Jakarta Pusat,
        Daerah Khusus Ibukota Jakarta 10510</p>
    </div>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, Universitas Yarsi.
    </div>
  </div>
</footer> -->