<div style="width: 800px;">
  <!-- <h2 mat-dialog-title>
    <span *ngIf="dataParam.type == 'create'"></span>
  </h2> -->
  <mat-dialog-content>

    <div class="table-row w-full mt-4">
      <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
      >Dispensasi ID</label
      >
      <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
      <div class="table-cell w-5/6 pb-3">
        <mat-form-field class="w-full">
          <input matInput type="text" placeholder="11,118" disabled/>
        </mat-form-field>
      </div>
    </div>
    <div class="table-row w-full mt-4">
      <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
      >Data Mahasiswa</label
      >
      <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
      <div class="table-cell w-5/6 pb-3">
        <mat-form-field class="w-full">
          <input matInput type="text" placeholder="173040075 ABIYYU NUR MUHAMMAD Teknik Informatika +6281234567890" disabled />
        </mat-form-field>
      </div>
    </div>
    <div class="table-row w-full mt-4">
      <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
      >Semester</label
      >
      <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
      <div class="table-cell w-5/6 pb-3">
        <mat-form-field class="w-full">
          <input matInput type="text" placeholder="20211" disabled />
        </mat-form-field>
      </div>
    </div>
    <div class="table-row w-full mt-4">
      <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
      >Jenis Disp</label
      >
      <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
      <div class="table-cell w-5/6 pb-3">
        <mat-form-field class="w-full">
          <input matInput type="text" placeholder="Perwalian" disabled />
        </mat-form-field>
      </div>
    </div>
    <div class="table-row w-full mt-4">
      <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
      >N P M</label
      >
      <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
      <div class="table-cell w-5/6 pb-3">
        <mat-form-field class="w-full">
          <input matInput type="text" placeholder="173040075" disabled />
        </mat-form-field>
      </div>
    </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Nama</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="ABIYYU NUR MUHAMMAD" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Program Studi</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="Teknik Informatika" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Handphone</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="+6281287924584" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Nama Ortu</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="SLAMET KUWATNO" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Alamat Ortu</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="perum taman raya bekasi blok p7 no 20 ds. mangunja" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Kontak Ortu</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="+6282111565549" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Perihal</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="Dispensasi Perwalian" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Alasan</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="penghasilan keluarga tidak menentu karena terdampak pandemi covid-19 dan ppkm" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Tanggap Samggup Bayar</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="31-10-2021" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >TGL</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="26-08-2021" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Status DPPID</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="26" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >STGL</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="31.10.2021" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Status DPP</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="Belum 50% (0%)" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Cetak Pengajuan</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <a href=""><span class="fa fa-print"></span></a>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Surat Pernyataan</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <a href=""><span class="fa fa-print"></span></a>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Status DPP</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="0 % D" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Masa Berlaku</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="26.08.2021 sd 31.10.2021" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Status</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="Ditolak" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Login Buat</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="SISTEM" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Tanggal Buat</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="26-08-2021 21:20:36" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Login Edit</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="123070069" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >Tanggal Edit</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="27-08-2021 15:26:05" disabled />
      </mat-form-field>
    </div>
  </div>
  <div class="table-row w-full mt-4">
    <label class="table-cell w-1/6 mb-2 text-sm font-base text-gray-600"
    >NA</label
    >
    <div class="table-cell px-3 text-sm font-base text-gray-600">:</div>
    <div class="table-cell w-5/6 pb-3">
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="N" disabled />
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    class="btn btn-success"
    >
    Export
  </button>
  <button mat-button mat-dialog-close class="btn btn-success">Cetak</button>
  <button mat-button mat-dialog-close class="btn btn-danger">Kembali</button>
</mat-dialog-actions>
</mat-dialog-content>
</div>
